
<div style="width:1000px; margin-left:auto; margin-right:auto; font-size:15px;">

	<%grand_total = 0%>
	<div style="float:left; width:700px;">

	<%for subscribed in @plans%>
	
		<div style="padding-top:15px; padding-bottom:15px; border-bottom:1px dotted #ccc">
		<div style="float:left; width:90px; ">
				 <%= link_to(user_path(subscribed.user)) do
		  			image_tag subscribed.user.avatar.url(:thumb_90), :class=>"Transparent", :style=>"width:90px; height:90px; border:1px solid #E1E1E1; cursor:pointer"
				end %>
		</div>
	
		<div style="float:left; margin-left:10px; ">
			<div><a class="BlueLink" href="/<%=raw subscribed.user.username%>"><%=raw subscribed.user.first_name%> <%=raw subscribed.user.last_name%></a> signed up for <a class="BlueLink" href="/escapes/<%=subscribed.plan.id%>"><%=raw subscribed.plan.title%></a></div>
			
			<div style="margin-top:10px"> 
				<table cellpadding="3" style="margin-left:10px">
					<%i = 0%>
					<%subtotal = 0%>
					<%for ticket in subscribed.ticket_purchases%>
						<%i = i+1%>
						<%if ticket.ticket%>
						<%subtotal = subtotal+ticket.ticket.amount%>
							<tr>
								<td style="vertical-align:top; width:85px;">Ticket #<%=i%></td>
								<td style="vertical-align:top; width:330px;"><%=ticket.ticket.title%> - <%if ticket.user%><%=ticket.user.first_name%> <%=ticket.user.last_name%><%else%><%if ticket.user_name%><%=ticket.user_name%><%end%><%end%></td>
								<td style="vertical-align:top">$<%if ticket.ticket.amount > 0%><%= number_with_precision (ticket.ticket.amount.to_f / 100.0), :precision => 2 %><%else%>0.00<%end%></td>
							</tr>
							<%end%>
					<%end%>

					<%if subscribed.discount and subscribed.discount > 0%>
						<tr>	
							<td style="vertical-align:top; ">Discount</td>
							<td style="vertical-align:top;"><%=@subscribed.discount_code.upcase%></td>
							<td style="vertical-align:top; color:red">($<%= number_with_precision (@subscribed.discount / 100.0), :precision => 2 %>)</td>
							<%subtotal = subtotal+(subscribed.discount*-1)%>
						</tr>
					<%end%>


				
						<%if subscribed.amount and subscribed.amount > 0 %>
					<tr style="font-weight:bold">
						<td>Paid</td>
						<td><%=subscribed.user.active_card%></td>
						<td>$<%= number_with_precision (subscribed.amount / 100), :precision => 2 %></td>
					</tr>
						<%end%>
						<tr >
							<td>&nbsp;</td>
							<td><a class="BlueLink" target="_blank" href="/tickets/<%=subscribed.id%>">Tickets & Receipt</a></td>
							<td>&nbsp;</td>
						</tr>
				</table>
				
	
				
				
			</div>
			
			
		</div>

		<div style="clear:both"></div>
		</div>
		<%if subscribed.amount%>
			<%grand_total = grand_total + subscribed.amount%>
		<%end%>
	<%end%>
	</div>
	
	<div style="float:right; float:280px;">
		
		<div style="padding:30px; margin-top:15px; background:#ccc; color:black; font-weight:bold; font-size:24px; line-height:50px; width:50prx; height:50px;">
		$<%= number_with_precision (grand_total / 100), :precision => 2 %>
		</div>
	</div>
	
	
	
	<div style="clear:both"></div>

</div>