
<div style="width:1000px; margin-left:auto; margin-right:auto; font-size:15px;">




	<%grand_total = 0%>
	<%donation_total = 0%>
	
	<div style="float:left; width:700px;">
		
	<select style="font-size:30px;" onchange="window.location.href='/admin?plan_id='+$(this).val()">
		<option value="0">All Events</option>
		<%for plan in @dropdown%>
			<option value="<%=plan.id%>" <%if params[:plan_id].to_i == plan.id%>selected<%end%>><%if plan.start_time%> <%=plan.start_time.to_date.strftime('%m/%d').strip()%>: <%end%><%=raw plan.title%> (<%=plan.signups_nohost%>)</option>
		<%end%>
	</select>
	
	<%if params[:plan_id] and params[:plan_id]!="0"%><div style="margin-top:10px; margin-bottom:20px">
		<a class="BlueLink" target="_blank" href="/export_guest?plan_id=<%=params[:plan_id]%>">Export Guest List</a></div>
	<%end%>
	
	<%if @plans.length == 0%>
		<div style="margin-top:10px;">No one has signed up for this event.</div>
	<%end%>
	

	<%for subscribed in @plans%>
	
		<div style="padding-top:15px; padding-bottom:15px; border-bottom:1px dotted #ccc">
		<div style="float:left; width:90px; ">
				 <%= link_to(user_path(subscribed.user)) do
		  			image_tag subscribed.user.avatar.url(:thumb_90), :class=>"Transparent", :style=>"width:90px; height:90px; border:1px solid #E1E1E1; cursor:pointer"
				end %>
		</div>
	
		<div style="float:left; margin-left:10px; ">
			<div><a class="BlueLink" href="/<%=raw subscribed.user.username%>"><%=raw subscribed.user.first_name%> <%=raw subscribed.user.last_name%></a> signed up for <a class="BlueLink" href="/escapes/<%=subscribed.plan.id%>"><%=raw subscribed.plan.title%></a></div>
			
			<div style="margin-top:10px"> 
				<table cellpadding="3" style="margin-left:10px">
					<%i = 0%>
					<%subtotal = 0%>
					<%for ticket in subscribed.ticket_purchases%>
						<%i = i+1%>
						<%if ticket.ticket%>
						<%subtotal = subtotal+ticket.ticket.amount%>
							<tr>
								<td style="vertical-align:top; width:85px;">Ticket #<%=i%></td>
								<td style="vertical-align:top; width:330px;"><%=ticket.ticket.title%> - <%if ticket.user%><%=raw ticket.user.first_name%> <%=raw ticket.user.last_name%><%else%><%if ticket.user_name%><%=raw ticket.user_name%><%end%><%end%></td>
								<td style="vertical-align:top">$<%if ticket.ticket.amount > 0%><%= number_with_precision (ticket.ticket.amount.to_f / 100.0), :precision => 2 %><%else%>0.00<%end%></td>
							</tr>
							<%end%>
					<%end%>

					<%if subscribed.discount and subscribed.discount > 0%>
						<tr>	
							<td style="vertical-align:top; ">Discount</td>
							<td style="vertical-align:top;"><%=@subscribed.discount_code.upcase%></td>
							<td style="vertical-align:top; color:red">($<%= number_with_precision (@subscribed.discount / 100.0), :precision => 2 %>)</td>
							<%subtotal = subtotal+(subscribed.discount*-1)%>
							
						</tr>
					<%end%>
								<%if subscribed.donation and subscribed.donation > 0%>

									<tr>	
										<td style="vertical-align:top;">Donation</td>
										<td style="vertical-align:top; "> </td>
										<td style="vertical-align:top; ">$<%= number_with_precision (subscribed.donation  / 100.0), :precision => 2 %></td>
									</tr>
									<%donation_total = donation_total + subscribed.donation%>
								<%end%>




				
						<%if subscribed.amount and subscribed.amount > 0 %>
					<tr style="font-weight:bold">
						<td>Paid</td>
						<td><%=subscribed.user.active_card%></td>
						<td>$<%= number_with_precision (subscribed.amount / 100), :precision => 2 %></td>
					</tr>
						<%end%>
						<tr >
							<td>&nbsp;</td>
							<td><a class="BlueLink" target="_blank" href="/tickets/<%=subscribed.id%>">Tickets & Receipt</a></td>
							<td>&nbsp;</td>
						</tr>
				</table>
				
	
				
				
			</div>
			
			
		</div>

		<div style="clear:both"></div>
		</div>
		<%if subscribed.amount%>
			<%grand_total = grand_total + subscribed.amount%>
		<%end%>
	<%end%>
	</div>
	
	<div style="float:right; float:280px;">
		
		<div style="padding:30px;width:125px; margin-top:15px; background:#ccc; color:black; text-align:center; font-weight:bold; font-size:24px; line-height:50px; height:50px;">
				<div style="position:absolute; width:125px;margin-top:-40px; text-align:center; font-size:12px; color:#666">Total Earned</div>
		$<%= number_with_precision (grand_total / 100), :precision => 2 %>
	
		</div>
		
		<%if donation_total > 0%>


			<div style="padding:30px; margin-top:15px; background:#ccc; text-align:center; color:black; font-weight:bold; font-size:24px; line-height:50px; width:125px; height:50px;">
				<div style="position:absolute; width:125px; margin-top:-40px; text-align:center; font-size:12px; color:#666">Donations</div>
				$<%= number_with_precision (donation_total / 100), :precision => 2 %>
			</div>
		
		<%end%>
		
	</div>
	

	
	
	
	<div style="clear:both"></div>

</div>