<%label = "" unless defined?(label)%>
<%url = "" unless defined?(url)%>
<%fullpath = false unless defined?(fullpath)%>

	<a href="<%if fullpath%>http://<%=url%><%end%>/<%=user.username%>" style="text-decoration:none">
	<div class="UserCard <%if !fullpath%><%unless @user_agent.mobile?%>UserCard2<%end%><%end%>" onmouseover="$('.TopCardShadow',this).hide(); $('.UserCardName',this).css('color','#000')" onmouseout="$('.TopCardShadow',this).show(); $('.UserCardName',this).css('color','#21547E')">
		
		
		
		<div class="TopCardShadow"></div>
		
		
		
			<%name = user.avatar_file_name%>
		
			<%if name%>
				<%test = name.index(".")%>

				<%if test.to_i < 1%>
					<%name = "#{name}."%>
				<%end%>
				<img class="UserCardPhoto" src="http://assets.stomp.io/avatars/<%=user.id%>/thumb_150_<%=name%>"/>
			<%else%>
				<img alt="No_avatar" class="UserCardPhoto" src="/images/no_avatar.png" style="" />
			<%end%>
			
			
		
				<%# image_tag(user.avatar.url(:thumb_150), :class=>"UserCardPhoto", :style=>"") %>
		
	
		
		

		<div class="TopPhotoShadow"></div>
		<%if label == "Organizer"%>
			<div class="organizerLabel"></div>
		<%end%>
		<%if label == "Judge"%>
			<div class="judgeLabel"></div>
		<%end%>
		
		<%if user.id == 44%>
			<div class="sponsorLabel"></div>
		<%end%>
		
	
		<div class="UserCardBio">
			<div class="UserCardName"><%=raw user.first_name%> <%=raw user.last_name%></div>
			<div style=" margin-top:2px; line-height:16px; font-style:italic; font-family:'georgia'"><%=raw user.short_bio%></div>
		</div>
		
		<%if @plan%>
			<%guest = SubscribedPlan.find(:first,:conditions=>"plan_id=#{@plan.id} and user_id=#{user.id}")%>
			<%if guest and guest.num_guests.to_i > 0%>
				<div class="NumGuests"><div style="float:left; margin-top:-2px; margin-left:3px; margin-right:1px; font-size:10px">+</div><div style="float:left"><%=guest.num_guests%></div></div>
			<%end%>
		<%end%>

	</div>
	</a>