<script>
$("#SignUpButton").css('opacity','.3')
</script>



<div style="float:left; width:335px; margin-top:50px;">
	<div class="HighlightedTitle">Have a Facebook Account?</div>
	<div style="margin-top:7px; margin-bottom:10px">Sign up with one click</div>
	
	<div style="cursor:pointer;" onclick="fblogin()">
		<img class="Transparent" src="/images/facebook_login_large.png" style="width:154; height:22px">
	</div>
	
<span class="button-signin-facebook" style="display:none"><fb:login-button onlogin="fblogin();" size="large" v="2">Login with Facebook</fb:login-button></span>
	
	
	
		<div style="float:left; cursor:pointer; margin-top:-1px; margin-left:20px; display:none"><a href="/auth/twitter"><img src="/images/twitter_login_large.png"></a></div>
		
		<div style="font-size:10px; margin-top:7px; margin-bottom:7px;"><b>Privacy:</b>
		We don’t share your Stomp data with Facebook, or post anything to your Facebook profile, without your explicit permission.</div>
		
		<div id="fb-root"></div><fb:facepile max-rows="2" width="300"></fb:facepile>
		
		
</div>


<div style="float:right; width:300px; margin-right:40px; margin-top:50px;">
	
	<span class="HighlightedTitle">Don't want to use Facebook?  It's ok.  Sign up below.</span>
	<div style="padding-top:10px; padding-bottom:10px;">Already have an account?  <a href="#" onclick="openLoginDrop($('#LoginButton')); ignoreHide=1;" class="BlueLink">Log in</a>.</div>
	
     	<% form_for @user, :html => { :id => 'RegisterForm' }  do |form| %>
			<div class="RegisterLabel">Name</div>
			<input id="name" name="name" type="textfield" class="TextBox RegisterBox" size="30">
	
		
		
			<div style="clear:both; position:relative; height:10px; "></div>
			
			<div class="RegisterLabel"><%= form.label :email %></div>
			<%= form.text_field :email, :class => "TextBox RegisterBox" %>
			
			<div style="clear:both; position:relative; height:10px; "></div>
			
				<div class="RegisterLabel"><%= form.label :password %></div>
			<%= form.password_field :password, :class => "TextBox RegisterBox", :onKeyPress=>"return submitOnEnter(this,event,2)"   %>
				<div style="clear:both; position:relative; height:10px; "></div>
			
		
			<div class="RegisterLabel"></div>
				<div class="RegisterBox">
			
					<div id="Error" style=" color:red; font-weight:bold">	
						<%= flash[:notice] || flash[:error] %>
					</div>
			
						<div id="registerbutton" unselectable="on" class="yellowButton noSelect" onclick="validateRegister()">Join</div>
					
					
					<div style="float:left; margin-top:10px; clear:both">
					</div>
				</div>
				
				<input type="hidden" name="fromPage" id="fromPage" value="<%=request.env['HTTP_REFERER']%>">	
				
		<% end %>
	
</div>

<script>
	$('#name').alpha({allow:"., "});
	$("#name").focus()

</script>
