<% content_for :page_title do %>
  <%=@user.first_name%> <%=@user.last_name%> - Adventure Log
<% end %>

<%if @editable%><script>setTimeout("switchMenuBar($('#ProfileLink'),1);",10);</script><%end%>



<div style="margin-left:auto; width:950px; margin-right:auto">
	<div style="float:left; width:320px;">
		<div class="PhotoBorder" style="width:302px; height:325px; cursor:default " <%if @editable%>onmouseover="$('#UploadLink').css('color', '#0066FF');" onmouseout="$('#UploadLink').css('color', 'white'); " onclick="uploadPhoto();"<%end%>> 
		
		<%if @editable%>
			<%@t = "Transparent"%>
			<%@c = "cursor:pointer"%>
		<%else%>
			<%@t = ""%>
			<%@c = "cursor:default"%>
		<%end%>
		
		<%= image_tag(@user.avatar.url(:thumb_350), :class=>@t, :style=>"width:300px; height:300px; border:1px solid #E1E1E1; #{@c}") %>
		<div class="ChallengeBottom" style="width:310px; text-align:center; padding-top:4px; height:18px;">
			last signed in <%=@user.current_sign_in_at.strftime('%B %e')%>
		</div>
		<%if @editable%>
			<div style="text-align:center; width:300px; margin-top:3px;">
				<a id="UploadLink"  class="AppLink" href="#"> 
					<%if @user.avatar_file_name.nil?%> 
						Upload Photo 
					<%else%> 
						Replace Photo 
					<%end%> 
				</a>
			</div>
		<%end%>
	</div>

	<div style="clear:both"></div>
	<div style="margin-top:20px; margin-bottom:5px; font-size:14px"  class="DarkBlueLabel">Home City</div>
	
	<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"hometown", :content=>@user.hometown, :id=>@user.id, :model=>"user", :allow_return=>false, :extra_visibility=>true, :border=>true}%>
	
	
	<div style="margin-top:20px;  margin-bottom:5px; font-size:14px"  class="DarkBlueLabel">Current City</div>
	
	<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"location_city", :content=>@user.location_city, :id=>@user.id, :model=>"user", :allow_return=>false, :extra_visibility=>true, :border=>true}%>
	
	
	
	<%if @editable or @user.facebook_link or @user.twitter_link%>
		<div style="margin-top:25px;  margin-bottom:5px; font-size:14px" class="DarkBlueLabel">My Links</div>
	<%end%>
	

	<%if @user.facebook_link != nil%>
	<div>
		
		<a target="_blank" class="BlueLink" href="<%=@user.facebook_link%>">
			<img style="border:0px; margin-top:3px; float:left; margin-right:5px;" height="16" width="16" src="/images/facebook.png">
			<div style="margin-top:3px; float:left">Facebook</div>
		</a>
	
	</div>
	<%elsif @editable%>
		<div>[<a class="BlueLink" href="#" onclick="fblogin()">Add Facebook</a>]</div>
	<%end%>
	
	<%if @user.twitter_link != nil%>
	<div style="clear:both"></div>
	<div style="padding-top:3px">
		<a target="_blank" class="BlueLink" href="http://twitter.com/<%=@user.twitter_link%>">
			<img style="margin-top:3px; border:0px; float:left; margin-right:5px;" height="16" width="16" src="/images/twitter.png">
			<div style="margin-top:3px; float:left">@<%=@user.twitter_link%></div>
		</a>
	</div>
	<%elsif @editable%>
		<div style="clear:both"></div>
		<div>[<a class="BlueLink" href="/auth/twitter">Add Twitter</a>]</div>
	<%end%>
	
	
	
</div>


<div style="float:left;  margin-left:35px; width:570px;">
	
	<div style="margin-top:3px;  margin-bottom:7px;" class="HighlightedTitle"><%=@user.first_name%>  <%=@user.last_name%></div>
	
		<div style=" float:left; width:420px; font-size:16px; line-height:22px;">
			
		<%if @user.about_me.length > 90%><%@border=false%><%else%><%@border=true%><%end%>
			
		<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"about_me", :content=>@user.about_me, :id=>@user.id, :model=>"user", :allow_return=>false, :extra_visibility=>true, :border=>@border}%>
		</div>


		<%if !@editable%>
			<div style='float:right'>
				<div id="MessageButton" style="width:100px; margin-top:6px;   <%if current_user and !@user.allow_messages_from?(current_user)%>opacity:.3<%end%>" title="<%=@user.first_name%> has messages disabled" class="ProfileButton" onclick="<%if !current_user%>openRegister('Sign up for Stomp to Message <%=@user.first_name%>')<%else%><%if @user.allow_messages_from?(current_user)%>SendMessage('<%=@user.first_name%>',<%=@user.id%>)<%end%><%end%>">Message</div>

				<%if current_user%>
					<% unless @user.allow_messages_from?(current_user) %>
						<script>$("#MessageButton").tooltip();</script>
					<% end %>
				<%end%>
		 		<%=render :partial=>"users/blockbutton", :locals=>{:user=>@user}%>
			</div>
		<%end%>
</div>

</div>

<script>
	$("#comparison").tooltip();
	$("#points").tooltip();	
</script>
