<%=@first_name%> <%=@last_name%> <%=@type%> your plan to <%=@plan%>.
<%if @type == "commented on"%>
-------------------------------

<%=@message%>

-------------------------------
<%end%>
To view this plan, visit: http://<%=APP_URL%>/plans/<%=@challenge_url%>?user_credentials=<%=@autotoken%>


<%if @type == "commented on"%>
Your <%=APP_NAME%> settings currently copy all comments to your e-mail.  To turn this feature off, visit http://<%=APP_URL%>/no_cc.html?user_credentials=<%=@autotoken%>&type=comment</a>.</p>
<%end%>