<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
	<p>Welcome to <%=APP_NAME%>!  Eventually, someone will write a nifty welcome e-mail explaining how awesome <%=APP_NAME%> is.  But we're far too busy coding right now... and we also don't feel like hiring a suave marketing guy (unless they'll work for free food).</p>

<p>In order to receive full access to <%=APP_NAME%>, please confirm your account by clicking here:  <a href="http://<%=APP_URL%>/confirm_email/1?authentication_token=<%=@user_id%>">http://<%=APP_URL%>/confirm_email/1?authentication_token=<%=@user_id%></a></p>

<p>Thanks!</p>

<p>Nick & Nick (the <%=APP_NAME%> team)</p>

</body>
</html>