<% content_for :head do %>
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
	<%if @plan.privacy > 1%>
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<%end%>
<%end%>

<script>

<%if @plan.group and @plan.group.stripe_public%>
	Stripe.setPublishableKey('<%=@plan.group.stripe_public%>');
<%else%>
	<%if Rails.env == "production"%>
		Stripe.setPublishableKey('pk_dB6f0N4JX9S8tPhvAWEi5awfQdCOd');
	<%else%>
		Stripe.setPublishableKey('pk_NbPHhppsDWlEw1NsATAghNQZEo1WM');
	<%end%>
<%end%>

</script>
	
	<div style="width:1000px; margin-top:20px; margin-left:auto; margin-right:auto; font-size:15px">


	<div style="float:right; margin-top:8px;">
		<input type="hidden" id="redirect" value="/escapes/<%=@plan.id%>">
		<%=render :partial=>"purchase/ticketbox"%>
	</div>



	

<div style="float:left; width:450px">

	

	<div class="HighlightedTitle" style="margin-top:5px"><%=raw @plan.title%></div>


	<div class="PlanBigPhotoBorder" style="width:404px; height:271px; margin-top:13px; margin-bottom:15px; ">
		<a href="/escapes/<%=@plan.id%>">
		<%= image_tag @plan.image.url(:thumb_600), :style=>"width:400px; height:267px;", :class=>" Transparent" %>
		</a>
	</div>
	
	
	<div style="font-size:16px; margin-top:7px; color:#808598;"><%=raw @plan.start_time.strftime('%A, %B %e at %I:%M %p')%></div>

	<div style="font-size:16px; margin-top:12px; color:#808598; padding-bottom:30px"><%=raw @plan.short_location%></div>

	<%for host in @plan.organizers%>
		<%=render :partial=>"users/user_card", :locals=>{:user=>host, :label=>"Organizer"}%>
	<%end%>

</div>

<div style="clear:both"></div>


</div>


<%if @tickets.length < 3%>
	<script>

			$(document).ready(function() {
				$('.card-number').focus();
			 });
			
	</script>
<%end%>



