<%t = Time.zone.now%>
<%rounded_t = Time.local(t.year, t.month, t.day, 0, 0)%>

<%if rounded_t <= @plan.start_time%>

<%if current_user && @plan.has_maybed?(current_user)%>
	<%@color_count="LightGray"%>
	<%@color_maybe="Red"%>
<%else%>
	<%@color_count="Green"%>
	<%@color_maybe="LightGray"%>
<%end%>

<%if current_user && @plan.has_signedup?(current_user)%>

	<%if @plan.price and @plan.price > 0%>
	
		<div class="WhiteActiveBorder" style="margin-top:15px; float:left" onclick="signupPlan(this,$('RenderPlan<%=@plan.id%>'),<%=@plan.id%>)">
			<div unselectable="on" class="outerB RedButton" style="width:200px;margin-left:10px;  line-height:38px; height:40px;">
				<div class="innerB InnerRedBorder" style="height:38px;">Request Refund</div>
			</div>
		</div>
	<%else%>
		<div  class="WhiteActiveBorder" style="margin-top:15px; float:left" onclick="signupPlan(this,$('RenderPlan<%=@plan.id%>'),<%=@plan.id%>)">
			<div unselectable="on" class="outerB RedButton" style="width:200px; margin-left:10px;  line-height:38px; height:40px;">
				<div class="innerB InnerRedBorder" style="height:38px;">I can't come. Remove me.</div>
			</div>
		</div>
	<%end%>
	
<%else%>

	<% if @plan.has_soldout %>		

		<div style="font-weight:bold; font-size:16px; color:red; text-align:center; width:100%;padding-top:20px;">This event is sold out!</div>

	<%else%>
	
		<div id="attend"  class="countmein WhiteActiveBorder" style="margin-top:4px;  float:left" onclick="<%if current_user%><%if @plan.price and @plan.price > 0%>payBill();<%else%>signupPlan(this,$('RenderPlan<%=@plan.id%>'),<%=@plan.id%>)<%end%><%else%>openRegister('Sign up for <%=APP_NAME%> to attend this plan')<%end%>">
			<div unselectable="on" class="outerB <%=@color_count%>Button" style="width:180px; margin-left:10px;  line-height:38px; height:50px;">
					<div class="buyticket innerB Inner<%=@color_count%>Border" style="height:43px; font-size:16px; line-height:40px; padding-top:5px;">
					
					<%if !@plan.application_required%>
							<div style="position:absolute; margin-left:7px; margin-top:3px;">
							<img src="/images/buy-icon.png" style="width:24px; height:21px">
							</div>
					<%end%>
						
								
								<%if @plan.application_required%>
								<div style="margin-top:3px; line-height:14px">
									Apply Now!
								</div>
								<div style="font-size:12px; line-height:14px; margin-top:6px;">
									Deadline: <%=@plan.application_deadline.to_date.strftime('%b').titlecase()%> <%=@plan.application_deadline.to_date.strftime('%e').strip()%>
								</div>
								<%else%>
									<div style="margin-left:31px;">
										<%if @plan.price and @plan.price > 0%>
											$<%=@plan.price.to_s.sub( ".0", "") %> per ticket
										<%else%>
											Sign Up for FREE
										<%end%>
									</div>
								<%end%>
							
						
				 
					</div>
				</div>
			</div>

	<%end%>
<%end%>
		
<div style="clear:both"></div>
		
	<%if @plan.seats_remaining != 0 and @plan.seats_remaining < 10 %>
		<%if current_user && @plan.has_signedup?(current_user)%>
		
		<%else%>
		<div style="text-align:center; width:100%; padding-top:5px; font-size:14px; font-weight:bold; color:red"><b><%=@plan.seats_remaining%></b> ticket<%if @plan.seats_remaining !=1%>s<%end%> left!</div>
		<%end%>
	<%end%>
	
	
<%else%>
	<div style="text-align:center; width:100%; padding-top:15px; font-size:14px; font-weight:bold; color:red">
		This plan has happened
	</div>
<%end%>