<%@over = false%>
<%t = Time.zone.now%>
<%rounded_t = Time.local(t.year, t.month, t.day, 0, 0)%>
<%if rounded_t >= @plan.start_time%>
	<%@over = true%>
<%end%>

<%plural = ""%>
<%if @plan.seats_remaining !=1%><%plural = "s"%><%end%>

<%if @plan.seats_remaining < 7%>
			<%@tickets_remaining = "<div style=\"color:red\"><span id=\"seat_remain\" style=\"font-weight:bold\" >#{@plan.seats_remaining}</span> ticket#{plural} left!</div>"%>
<%else%>
		<%@tickets_remaining = "<span id=\"seat_remain\" style=\"font-weight:bold\" >#{@plan.seats_remaining}</span> ticket#{plural} left!"%>
		
<%end%>


<%if current_user && @plan.has_signedup?(current_user)%>
	<%@signedup = TRUE%>
	<%@signup_color = "Red"%>
<%else%>
	<%@signedup = FALSE%>
	<%@signup_color = "Green"%>
<%end%>

<%if current_user%>
	<%if @plan.price and @plan.price > 0%>
		<%if @plan.application_required%>
			<%@clickaction = "goToByScroll('ApplicationLayer');"%>
		<%else%>
			<%@clickaction = "payBill();"%>
		<%end%>
	<%else%>
		<%@clickaction = "signupPlan(this,$('RenderPlan<#{@plan.id}'),#{@plan.id});"%>
	<%end%>
<%else%>
	<%if @plan.application_required%>
		<%@clickaction = "goToByScroll('ApplicationLayer');"%>
	<%else%>
		<%@clickaction = "openRegister('Sign up for #{APP_NAME} to attend'); $.cookie('showAttendPop', 'true', { expires: 7, path: '/plans/'});"%>
	<%end%>
<%end%>


	<%if @plan.application_required%>
		<%@title = "Apply Now!"%>
		<%@subtitle = "Deadline: #{@plan.application_deadline.to_date.strftime('%b').titlecase()} #{@plan.application_deadline.to_date.strftime('%e').strip()}"%>
	<%else%>
		<%if @plan.price and @plan.price > 0%>
			<%@title = "<div style=\"position:absolute; margin-left:7px; margin-top:3px;\"><img src=\"/images/buy-icon.png\" style=\"width:24px; height:21px\"></div><div style=\"margin-left:21px;\">$#{@plan.price.to_s.sub( ".0", "")}</div>"%>


			<%if @signedup%>
				<%@subtitle = "You've bought 1 ticket"%>	
			<%else%>
				<%if @plan.seats_remaining < 10%>
					<%@subtitle = @tickets_remaining%>	
				<%else%>
					<%@subtitle = "per ticket"%>
				<%end%>
			<%end%>
		<%else%>
			<%if @signedup%>
				<%@title = "I'm coming"%>
			<%else%>
				<%@title = "Sign Up: FREE"%>
			<%end%>
			
			
	
			<%@subtitle = @tickets_remaining%>
		
		<%end%>
	<%end%>
	
	



		<button id="attend" class="newGrayButton <%=@signup_color%>B" style="margin-top:5px; height:40px; line-height:35px; width:140px; font-size:16px; <%if @over%>opacity:.3<%end%>" <%if !@over%>onclick="<%=@clickaction%>"<%else%><%end%>><%=raw @title%></button>	
		<div style="margin-top:5px; width:140px; text-align:Center; color:#4C5A74">
			<%if @over == true%>
				<span style="color:red; font-weight:bold">This plan is over</span>
			<%else%>
				<%=raw @subtitle%>
			<%end%>
		</div>
		




<script>
seats_remaining = <%=@plan.seats_remaining%>
</script>