<div class="BrowseColumn" <%if i%3==0%>style="margin-right:0%;"<%end%>>
	<div class="BrowseBorder"  >
		<A class="browselink" href="/plans/<%=plan.id%>" onmouseover="$('#Arrow<%=plan.id%>').removeClass('ArrowIcon').addClass('ArrowIcon_H')" onmouseout="$('#Arrow<%=plan.id%>').removeClass('ArrowIcon_H').removeClass('ArrowIcon_A').addClass('ArrowIcon')" onmousedown="$('#Arrow<%=plan.id%>').removeClass('ArrowIcon_H').addClass('ArrowIcon_A')" onclick="$('#Arrow<%=plan.id%>').removeClass('ArrowIcon_A');$('#blackSpinner<%=plan.id%>').show(); ">
			<div class="BrowseExpandImage" 
			<%if plan.image_file_name%> 		style="background:url(http://<%=ASSETS_URL%>/images/<%=plan.id%>/thumb_400_<%=plan.image_file_name%>)"
			<%else%>
	style="background:url(/images/no_pic_b.png)"
			<%end%>
			>
		
				<div class="BrowseInfoContainer">
					<div class="BrowseDate"><div style="margin-top:3px"><%=plan.start_time.to_date.strftime('%b').upcase()%><br><%= plan.start_time.to_date.strftime('%e').strip()%></div></div>
					<div class="BrowseTitle">
						<div style="float:left; margin-top:3px; padding-left:10px; width:80% ">
							<%=raw plan.title%>
							<div style="color:#ccc">
								<%=raw plan.short_location%>
							</div>
						</div>
						<div style="float:right; margin-top:3px; padding-right:5px; ">
							<div id="blackSpinner<%=plan.id%>" class="blackSpinner"><img src="/images/blackSpinner.gif"></div>
							<div id="Arrow<%=plan.id%>" class="ArrowIcon"></div>
						</div>
					</div>
					
				</div>
		
			</div>
		</a>
		
		<Script>
		$('.browselink').live('touchend', function(e) {
		    var el = $(this);
		    var link = el.attr('href');
		    window.location = link;
		});
		</script>
		
		
		<div style="height:82px; margin:5px;">
			
		
			<div>
			<div style="position:absolute; height:80px;">
				<a href="/<%=plan.user.username%>">
				
				<%= image_tag(plan.user.avatar.url(:rounded_90), :class=>"Transparent tl rounded3d", :title=>"Hosted by #{plan.user.first_name}", :style=>"width:80px; height:80px; cursor:pointer; float:left; margin-right:1px;") %>
			
				</a>
				
			</div>
				
		
	
					<div style="height:45px; margin-left:90px;   overflow:hidden; margin-bottom:8px; color:#21547E;" class="auto multiline">
						
						<%if plan.short_desc%>
							<%=sanitize plan.short_desc.gsub("<br>","").gsub("&nbsp;","")%>
						<%end%>
					</div>
			</div>
			
			
			<div class="home_buy_button" style="float:right; <%if !plan.application_required%>text-align:center;<%end%> margin-top:-4px; margin-left:0px;width:83px; height:30px; margin-right:-12px; line-height:30px;"onclick="clearButton($(this)); $.cookie('showAttendPop', 'true', { expires: 7, path: '/plans/'}); window.location.href='/plans/<%=plan.id%>'">
				<%if !plan.application_required%>
				<img src="/images/buy-icon.png" style="position:absolute; margin-left:5px; margin-top:4px;  width:24px; height:21px">
				<%end%>
				<div id="plan_price" style="position:absolute; <%if !plan.application_required%>margin-left:30px; width:50px;<%else%>width:83px;<%end%>  text-align:center; font-size:12px;" >
					<%if plan.application_required%>
						Apply Now
					<%else%>
						<%if plan.price and plan.price > 0%>
							$<%=plan.price.to_s.sub( ".0", "") %>
						<%else%>
							FREE
						<%end%>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>