<div class="DarkBlueLabel" style="padding-top:20px; padding-bottom:10px;">Hosted by</div>

<%for host in hosts%>
<div style="float:left">
	<a href="/<%=host.username%>">
		<%= image_tag(host.avatar.url(:rounded_90), :class=>"Transparent rounded3d", :style=>"width:90px; height:90px; cursor:pointer") %>
	</a>
</div>
<div style='float:left; margin-left:10px; padding-top:5px;'><a CLASS="BlueLink" href="/<%=host.username%>"><%=host.first_name%> <%=host.last_name%></a>
	
	<div style="padding-top:5px; color:black; width:250px"><%=raw host.short_bio%></div>
	
	<%@disabled = false%>
	<%if current_user%>
		<%if !host.allow_messages_from?(current_user)%>
			<%@disabled = true%>
		<%end%>
		<%if host.id  == current_user.id%>
			<%@disabled = true%>
		<%end%>
	<%end%>
	
	
	<button class="newGrayButton" style="margin-top:5px; width:116px; <%if @disabled%>opacity:.3; cursor:default<%end%>" onclick="<%if !current_user%>openRegister('Sign up for <%=APP_NAME%> to Message <%=host.first_name%>')<%else%><%if !@disabled%>SendMessage('<%=host.first_name%>',<%=host.id%>)<%end%><%end%>"><img style="float:left; height:11px; width:17px; margin-top:4px; margin-left:2px" src="/images/sendmessage.png"><div style="float:left; margin-left:7px">Contact me</div></button>
	
</div>

<div style="clear:both"></div>

<%end%>

<%if @plan.enable_signups%>
<div style="clear:both"></div>

<%if attendees.length > 1%>
	<div class="DarkBlueLabel" style="padding-top:20px; padding-bottom:10px;">Who's coming? <span style="color:#666">(<%=attendees.length + hosts.length%>)</span></div>

	<%for host in hosts%>
	<a href="/<%=host.username%>">
		<%= image_tag(host.avatar.url(:rounded_90), :class=>"Transparent tl rounded3d", :title=>host.first_name, :style=>"width:90px; height:90px; margin:2px; cursor:pointer") %>
	</a>
	<%end%>
	
	<%for person in attendees%>
		<a href="/<%=person.username%>">
		<%= image_tag(person.avatar.url(:rounded_90), :class=>"Transparent tl rounded3d", :title=>person.first_name, :style=>"width:90px; height:90px;  margin:2px;cursor:pointer") %>
		</a>
	<%end%>
<%end%>

<div style="clear:both; height:40px;"></div>
<%end%>
