



<form id="BB_BuyButtonForm" style="display:none" action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/830265948339379" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="<%=strip_tags raw @plan.title%>"/>
<%if @plan.start_time%>
    <input name="item_description_1" type="hidden" value="<%=plan.start_time.strftime('%A, %B %e at %l:%M%p')%>"/>
<%end%>
    <input name="email-allowed" type="hidden" value="false"/>
<input id="item_quantity_1"  name="item_quantity_1" type="hidden" value="1"/>
	<%if current_user%>
		<input name="merchant-private-data" type="hidden" value="<%=current_user.id%>"/>
	<%end%>
    <input id="item_price_1" name="item_price_1" type="hidden" value="5.95"/>
    <input name="item_currency_1" type="hidden" value="USD"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=830265948339379&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
</form>


<%if @plan.group%><%if @plan.group.paypal_email%><%@paypal_email = @plan.group.paypal_email%><%end%><%end%>
<form id="PaypalForm" style="display:none" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="business" value="<%=@paypal_email%>">
	<input type="hidden" name="lc" value="US">
	<%if @plan.start_time%>
	<input type="hidden" name="item_name" value="<%= strip_tags raw @plan.title%> on <%=plan.start_time.strftime('%A, %B %e at %l:%M%p')%>">
	<%else%>
		<input type="hidden" name="item_name" value="<%= strip_tags raw @plan.title%>">
	<%end%>
	<%if current_user%>
		<input type="hidden" name="custom" value="<%=current_user.id%>">
	<%end%>
	<input type="hidden" id="amount" name="amount" value="<%=@plan.price%>">
	<input type="hidden" name="item_number" value="<%=@plan.id%>">
	<input type="hidden" name="return" value="http://<%=@source%>/escapes/<%=@plan.id%>?confirm=yes" />
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="button_subtype" value="services">
	<input type="hidden" id="quantity" name="quantity" value="1" />
	<input type="hidden" name="no_note" value="1" />
	<input type="hidden" name="no_shipping" value="1" />
	<input type="hidden" name="tax_rate" value="0">
	<input type="hidden" name="notify_url" value="http://<%=APP_URL%>/paypal_ipn">
	<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<SCRIPT>
plan_id=<%=plan.id%>
quantity=1;
original_price = <%=plan.price%>;
price=<%=plan.price%>;





function payBill(discount) {
 	
	txt = $("#Payment").html();

	txt2 = '<p class="HighlightedTitle" style="text-align:center">One Moment Please</p><div style="padding-top:5px" align="center"><img src="/images/ajax-loader-bar.gif"</div>'
	
	    var temp = {
	        state0: {
	            html: txt,
	            buttons: { Cancel: false, Checkout: true },
				persistent:false,
	            focus: 1,
				submit: function(v, m, f) {
			         if (v == 0) {
						$.cookie('showAttendPop', null, { path: '/escapes/'});
						$.prompt.close();
							return false;
					} else {
						
						if (price <1) {
							$.cookie('showAttendPop', null, { path: '/escapes/'});
							signUpFree(plan_id)
							
						} else {
							$.cookie('showAttendPop', null, { path: '/escapes/'});
							createBill();
						}
		  				$.prompt.goToState('state1');
						
						return false;
					}
	            }
	        },
	        state1: {
	            html: txt2,
	            buttons: { Close: 0 },
	            focus: 0,
	            submit: function(v, m, f) {
	                if (v === 0) {
						$.cookie('showAttendPop', null, { path: '/escapes/'});
	                    $.prompt.close();
		return false;
	                }
	            }
	        }
	    };
	    $.prompt(temp,{ callback: mycallbackfunc });
}

function mycallbackfunc(v,m,f){
		$.cookie('showAttendPop', null, { path: '/escapes/'});
}


function createBill() {
	
	$("#amount").val(original_price)
	$("#quantity").val(qty)
	$("#PaypalForm").submit();
	
//	$("#item_quantity_1").val(qty)
//	$("#item_price_1").val(original_price)
	
	
	
//	$("#BB_BuyButtonForm").submit();
	

}


$(document).ready(function() {
	$('.tl').tooltip();
	$('.resize').autoResize({
	    // On resize:
	    onResize : function() {
	        $(this).css({opacity:0.8});
	    },
	    // After resize:
	    animateCallback : function() {
	        $(this).css({opacity:1});
	    },
	    // Quite slow animation:
	    animateDuration : 300,
	    // More extra space:
	    extraSpace : 1
	});
	
});	
	$('#transportation').focus(function(){ 
		
		if ($(this).html() == "input directions") {
		window.setTimeout(function() {
	        var sel, range;
	        if (window.getSelection && document.createRange) {
	            range = document.createRange();
	            range.selectNodeContents(document.getElementById("transportation"));
	            sel = window.getSelection();
	            sel.removeAllRanges();
	            sel.addRange(range);
	        } else if (document.body.createTextRange) {
	            range = document.body.createTextRange();
	            range.moveToElementText(document.getElementById("transportation"));
	            range.select();
	        }
	    }, 1);
		}
	});
	
	
	function clearTrans() {
		$('#MeetingPlace').hide(); $('#AddMeeting').show();
		
		$.ajax({
	        type: "POST",
	        url: "<%= plan_path(plan) %>",
	        data: "_method=PUT&plan[transportation]=",
	        success: function(msg){
				animateFlashMessage();
	        }
	     });
	}


	<%if cookies[:confirmSignUp] == 'true'%>
		 $(document).ready(function() {
			

			setTimeout("openSignedUp();",200);
			$.cookie('confirmSignUp', null, { path: '/escapes/'});
		 });
	<%end%>
	

	<%if cookies[:showAttendPop] == 'true'%>
		 $(document).ready(function() {
		 	$.cookie('showAttendPop', null, { path: '/escapes/'});
			<%if @plan.application_required%>
				
			<%end%>
			
			
		
			
		  	setTimeout('$("#attend").click();',1000);
		
		 });
	<%end%>
	
	///Auto signed up with 1 domain with record of one, so check
	<%if @signedup%>
		<%@recent = SubscribedPlan.find(:first, :conditions => ["plan_id = #{@plan.id} and user_id = #{current_user.id} and created_at > ?", 30.seconds.ago])%>
		<%if @recent%>	
		$(document).ready(function() {
			openSignedUp();
			});
		<%end%>
	<%end%>

	<%if cookies[:watchPlan] == 'true'%>
		 $(document).ready(function() {
			setTimeout('watchMouseDown($("#WatchButton"))',100);
		  	setTimeout('$("#WatchButton").click();',100);
			$.cookie('watchPlan', null, { path: '/escapes/'});
		 });
	<%end%>
	
	
</SCRIPT>