<script>
	setTimeout("switchMenuBar($('#AdventuresLink'),1);",10);
</script>



<div id="RenderContent" >
	<div class="HighlightedTitle" style="margin-bottom:10px;"><%=session[:dropdown_city]%> Adventures</div>


	<div id="OpacityContent">
		<%i = 0%>
		<%for plan in @plans%>
			<%i = i+1 %>
			<%= render :partial=>"plans/plan_card", :locals=>{:plan=>plan, :i=>i}%>
			<%if i%3==0%><div style="height:25px; clear:both"></div><%end%>
		<%end%>

		<%if !@current_user%>
		<%if cookies[:digestJoined] != 'true'%>
<%i = i+1 %>
			<div id="SignUpCard" class="BrowseColumn" <%if i%3==0%>style="margin-right:0%;"<%end%>>
				<div class="SignUpBorder" style="height:325px">
					<div style="margin-top:35px; font-size:30px; padding:20px; text-align:center; line-height:35px" >Sign up</div>
				
					<div  style="text-align:center; line-height:25px; margin-left:10px;">Learn when we add new <br>adventures in <%=session[:dropdown_city]%>
						<div style="margin-top:10px; width:266px; margin-left:auto; margin-right:auto">	
							<textarea id="digest_email" type="textfield"  onKeyPress="return submitDigestOnEnter(this,2,<%=session[:dropdown_city_value]%>)" class="ShadowedTextBox" style="float:left; height:20px; margin-left:0px; line-height:20px; float:left;  color:#ccc;margin-top:10px; width:190px; " onfocus="if ($(this).val()=='email') { $(this).val(''); $(this).css('color','#666')}" onblur="if ($(this).val()=='') {$(this).val('email');  $(this).css('color','#ccc')}">email</textarea>
							
							<div  class="WhiteActiveBorder"  >
								<div unselectable="on" class="LightGrayButton" style="width:50px; margin-left:3px; float:left;height:34px; margin-top:9px; line-height:34px; font-size:12px " onclick="joinDigest(<%=session[:dropdown_city_value]%>)">
									<div id="JoinDigest" class="InnerLightGrayBorder"style="height:32px;" >
										Join
									</div>
								</div>
							</div>
							
						</div>
						<div style="clear:both"></div>
						<div style="margin-top:15px;font-size:12px; line-height:16px;">We'll never send more than one email a week.<Br>Unsubscribe any time.</div></div>
				</div>
			</div>
			<%end%>
		<%end%>

		<%if @other_plans%>
			<div style="clear:both"></div>
			<div style="margin-top:50px" class="HighlightedTitle">Adventures in Other Cities</div>
			<%i=0%>
			<%for plan in @other_plans%>
				<%i = i+1 %>
				<%= render :partial=>"plans/plan_card", :locals=>{:plan=>plan, :i=>i}%>
				<%if i%3==0%><div style="height:25px; clear:both"></div><%end%>
			<%end%>
			</div>
		<%end%>
	</div>
	<div class="spinner2" style="position:absolute; display:none; margin-left:38%; top:150px;  background-color:white; color:#666; opacity:1; text-align:center; width:20%; height:50px; border:1px solid #ccc; padding-top:10px; padding-bottom:10px;">
		<img align="center" src="/images/ajax-loader-bar.gif"><br>
		<div  style="margin-top:10px; margin-left:70px; width:100px; text-align:center">loading</div>
	</div>
</div>

<script>


$(document).ready(function() {
	$('.tl').tooltip();
	$('.multiline').ellipsis();
	

//	grabs_scan2();
	
	


			//$(window).bind( 'scroll', function() {
		//
		//			grabs_scan2();
			
		//	} );
	
		
		
});


function grabs_scan2() { // lazy load f/x

		$('.BrowseColumn').each( function(i,n) {
			if( $(n).offset().top < $(window).scrollTop() + $(window).height() -10) {
				
				$(n).animate({opacity: 1}, 600 );  //fadeIn
			}
		} );
	}
	
</script>


</script>


