


<% content_for :page_title do %>
  <%=raw @plan.title%>
<% end %>

<% content_for :head do %>
	<%=render :partial=>"plans/metatag", :locals=>{:plan=>@plan}%>

<%end%>




<Script>
	var share = {
   method: 'stream.share',
   u: '<%= plan_url(@plan) %>'
   };
</script>


<%if @editable%>
	<%=render :partial=>"plans/edit_date"%>
<%end%>



<div >


<div  style="margin-left:auto; margin-right:auto; margin-top:10px; <%if @user_agent.mobile?%>width:940px;<%else%>width:960px; background:rgba(0,51,255,.03); padding:20px; border:1px dotted #E8E8E8<%end%>">

<%if @real_edit_for_toggle%>
<div style="float:right; width:66px">
	<div id="itoggle" style="position:absolute; top:-29px"><div style="float:left; margin-right:5px; margin-top:1px; font-size:11px;"></div><div style="float:left">
	<input type="checkbox" id="example_1" style="display:none" <%if @editable%>checked<%end%>/></div>
	</div>
</div>
	<script>
	$(document).ready(function() {
		$('#example_1').iToggle({
			easing: 'easeOutExpo',
			onClick: function(){
				//Function here
			},
			onClickOn: function(){
				$.cookie('disable_edit', null, { path: '/plans/'});
	
				window.location.reload();
			},
			onClickOff: function(){
				$.cookie('disable_edit', 'yes', { path: '/plans/', expires: 1});
							$(".EditBox").each( function(i,n) {
								$(this).addClass("EditBoxHide").removeClass("EditBox");
							} );
							
									$(".EditIcon").each( function(i,n) {
										$(this).hide();
									} );
							
				
				window.location.reload();
			},
			onSlide: function(){
				//Function here
			},
			onSlideOn: function(){
				//Function here
			},
			onSlideOff: function(){
				//Function here
			},
		});
	});
	</script>
<%end%>
	

<div style="float:left; width:470px">


	<%if @plan.id==15%>
	<div class="PhotoBorder" style="cursor:default; height:313px; width:400px; background:#DADADA; border:5px solid #DADADA ">
		<%= render :partial=>"plans/temp_bali"%>
	</div>
	<div style="height:7px">&nbsp;</div>
	<%else%>
	
	<%if @plan.id==16%>
	<div class="PhotoBorder" style="cursor:default; height:313px; width:400px; background:#DADADA; border:5px solid #DADADA ">
		<%= render :partial=>"plans/temp_tropical"%>
	</div>
	<div style="height:7px">&nbsp;</div>
	<%else%>

		<div class="PhotoBorder" style="cursor:default; height:256px; width:400px;">
			<%if @editable%>
				<%= image_tag @plan.image.url(:thumb_400), :style=>"width:400px; height:256px;", :class=>" Transparent", :onclick=>"uploadPlanPhoto(#{@plan.id},'show')" %>
			<%else%>
				<%= image_tag @plan.image.url(:thumb_400), :style=>"width:400px; height:256px; cursor:default", :class=>""%>
			<%end%>
		</div>
	<%end%>
	<%end%>
		<div style="float:left;  margin-top:11px; margin-left:29px; text-align:center">
			<button id="WatchButton" class="newGrayButton<%if @watched%>Pushed<%end%>" onmousedown="watchMouseDown(this)" onmouseout="watchMouseUp(this)" style="margin-top:5px; height:40px; line-height:35px; width:140px; font-size:16px "  onclick="<%if current_user%>watchPlan(this,<%=@plan.id%>)<%else%>$.cookie('watchPlan', 'true', { expires: 7, path: '/plans/'}); openRegister('Sign up for <%=APP_NAME%> to Watch'); watchMouseUp(this)<%end%>"><%if @watched%>Watching<%else%>Watch<%end%></button>
			<div style="margin-top:5px; text-align:Center; color:#4C5A74">for updates & new dates</div>		
		</div>
		
		<div style="float:left; margin-top:10px; margin-left:30px;">
			<img src="/images/or.png" style="width:12px; height:56px;">
		</div>
		
		<div style="float:left;  margin-top:11px; margin-left:30px;">
		<%= render :partial=>"plans/attend_button"%>
		</div>
		
		
		




		<div style="clear:both"></div>
		
		
		<div style="color:#1F527E; margin-top:25px; margin-left:3px; margin-bottom:5px;">
			<div class="HighlightedTitle" style="margin-top:-2px; font-size:16px; ">Share with your friends!</div>
			
			<%if @plan.price and @plan.price > 0 and !@plan.application_required and @plan.discount_enabled%>
			Send them discount code: JOINME42. They'll save $5.
			<%end%></div>
		
		
		<div style="float:left; margin-left:3px; margin-top:5px">
			
			
			<%@twitter_user = TWITTER_NAME%>
			<%@twitter_text = "I'm attending #{@plan.title} via @#{TWITTER_NAME}.  Join me"%>
			<%if  (@plan.price and @plan.price < 1) or @plan.application_required or !@plan.discount_enabled%>
				<%@twitter_text = "#{@twitter_text}!"%>
			<%else%>
				<%@twitter_text = "#{@twitter_text} and get 10% off by using discount code JOINME42"%>
			<%end%>
			
			<%@data_url = "http://#{APP_URL}/?id=#{@plan.id}" %>

			
			<%if @plan.group%>
				<%if @plan.group.custom_twitter_text%>
					<%@twitter_text = @plan.group.custom_twitter_text%>
				<%end%>
				<%if @plan.group.twitter_name%>
					<%@twitter_user = "#{@twitter_user}, #{@plan.group.twitter_name}"%>
				<%end%>
				<%if @plan.group.url%>
					<%if current_user%>
						<%@data_url = "http://#{@plan.group.url}/"%>
					<%else%>
						<%@data_url = "http://#{@plan.group.url}/"%>
					<%end%>
				<%end%>
			<%end%>
			
			
	   			<a href="http://twitter.com/share"  class="twitter-share-button" data-count="horizontal" data-related="<%=@twitter_user%>" data-url="<%=@data_url%>" data-text="<%=@twitter_text%>">Tweet</a> 
	   	        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
	     </div>
	<div style="float:left; margin-left:-3px;margin-top:5px"><fb:like href="<%=@data_url%>" send="true" layout="button_count" width="100" action="like"  show_faces="false" font=""></fb:like></div>

	<div style="clear:both"></div>
	
	
	

		 <%@attendees = User.sort_photos_first.find(:all, :joins=>:subscribed_plans, :conditions=>["subscribed_plans.plan_id =?",@plan.id])%>

		<div id="RenderPlan" style="width:410px; margin-top:5px;">
			<%= render :partial=>"plans/signups", :locals=>{:attendees=>@attendees, :hosts=>@plan.organizers}%>
		</div>

		<div style="clear:both"></div>
      	
</div>






	<input type="hidden" id="unit_price" value="<%=@plan.price%>">
	

	<div style="float:left; <%if @user_agent.mobile?%>width:460px;<%else%>width:490px;<%end%>">
		
		
	                <div id="RenderDate" style="float:left; margin-right:30px; ">
						<%= render :partial=>"plans/circle_date"%>
					</div>
					
					<div style="float:left; <%if @user_agent.mobile?%>width:345px;<%else%>width:375px;<%end%>:">

					<div class="HighlightedTitle" style="padding-bottom:2px; font-size:24px; line-height:28px; ">
						<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"title", :content=>@plan.title, :id=>@plan.id, :model=>"plan", :required=>true, :allow_return=>false, :full_editor=>true, :onblur_hook=>"if ($(this).html() != '' && $(this).html() != 'Required') {draftTitle = 0;$('#draftTitle').hide(); }", :extra_visibility=>@extra_visibility}%>		
					</div>
					<div style="font-size:16px;color:#808598">			
					<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"short_location", :content=>@plan.short_location, :id=>@plan.id, :model=>"plan", :full_editor=>true, :required=>true, :allow_return=>false, :onblur_hook=>"if ($(this).html() != '' && $(this).html() != 'Required') {draftTitle = 0;$('#draftTitle').hide(); }", :extra_visibility=>@extra_visibility}%>
					</div>
					<div style="margin-top:20px;  color:#555; font-size:16px; line-height:20px; font-style:italic; ">
					<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"short_desc", :content=>@plan.short_desc, :id=>@plan.id, :model=>"plan", :required=>true, :allow_return=>false,:full_editor=>true,  :onblur_hook=>"if ($(this).html() != '' && $(this).html() != 'Required') {draftTitle = 0;$('#draftTitle').hide(); }", :extra_visibility=>@extra_visibility}%>
					</div>
					
					
					
					
					
					
					
				</div>

				
					
					<div style="clear:both; "></div>
					<div style="border-top:1px dotted #DEDFE5; margin-top:15px;">&nbsp;</div>
					

					<div style="font-size:15px; line-height:20px; ">
						<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"note", :content=>@plan.note, :id=>@plan.id, :model=>"plan", :required=>true, :full_editor=>true, :allow_return=>true, :extra_visibility=>@extra_visibility,:onblur_hook=>"if ($(this).html() != '' && $(this).html() != 'Required' && $(this).html() != 'Insert some details.  Why is this fun?  How can you do it?  Write a short paragraph.') {draftDetails= 0;$('#draftDetails').hide(); }"}%>	
					</div>
			
					
				
					
					<%if @plan.group%>
						<%if @plan.group.tumblr%>
									<div style="float:left; margin-top:15px">
											<a target="_blank"
										href="<%=@plan.group.tumblr%>">
										<img src="/images/Tumblr-Follow-Button.png" width="135" height="21" border="0" CLASS="TransparentOpposite" title="Follow Me on Tumblr" />
										</a>
									</div>
						<%end%>
						<%if @plan.group.twitter_name%>
									<div style="float:left; margin-left:20px; margin-top:16px">
										<a href="http://twitter.com/<%=@plan.group.twitter_name%>" class="twitter-follow-button" data-show-count="false">Follow @<%=@plan.group.twitter_name%></a>
									</div>
						<%end%>
			
				<%end%>
				
					<div style="clear:both"></div>
					
							<div style="border-top:1px dotted #DEDFE5; margin-top:15px;">&nbsp;</div>
							
				

					<div class="DarkBlueLabel" style="padding-top:15px; padding-bottom:8px;">Meeting Place</div>
						<div style="min-width:600px;">
							<div style="float:left">		
								<a id="GoogleLink" target="_blank" href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%=@cleaned_location%>">
											<img  id="GoogleMap" width="270" height="125" alt="map error" style=" cursor:pointer; border:1px solid #ccc; float:left" class="Transparent" src="http://maps.google.com/maps/api/staticmap?center=<%=@plan.lat.round(4)%>,<%=@plan.lng.round(4)%>&zoom=14&size=270x125&maptype=roadmap&markers=<%=@plan.lat.round(4)%>,<%=@plan.lng.round(4)%>&sensor=false"></a>
								</div>

								<div style="float:left; margin-left:7px; max-width:210px; min-width:110px;">

									<%if @plan.url_name and @plan.url_link %>
										<a id="MapLink" class="BlueLink <%if @editable%> EditBoxHide<%end%>" <%if @editable%>onclick="openLinkEditor()"<%else%>target="_blank" <%end%> <%if !@editable%> href="<%=@plan.url_link%>"<%end%>><%=@plan.url_name%></a><br>

									<%else%>
											<%if @editable%>
												[<a class="BlueLink" onclick="$('#adminlink').hide(); $('#AdminOptions').show(); $('#challenge_url_name').focus()" href="#">add link</a>]<br>
											<%end%>
										<%end%>
											<%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"location", :content=>@plan.location, :id=>@plan.id, :model=>"plan", :allow_return=>true, :required=>true, :extra_visibility=>@extra_visibility, :full_editor=>true, :onblur_hook=>" GeoCode_Plan(newValue,#{@plan.id});"}%>	

											<div style="margin-top:15px"><%=render :partial=>"layouts/editbox", :locals=>{:field_name=>"transportation", :content=>@plan.transportation, :id=>@plan.id, :model=>"plan", :required=>true, :allow_return=>false, :extra_visibility=>@extra_visibility, :full_editor=>true, :onblur_hook=>"if ($(this).html() != '' && $(this).html() != 'Required' && $(this).html() != 'Insert meeting place') {}"}%></div>

											<%if @editable%>

											<div id="AddMeeting" style="padding-top:10px; <%if @plan.transportation%> display:none<%end%>">[<a class="BlueLink" href="#" onclick="$('#MeetingPlace').show(); $('#AddMeeting').hide(); $('#transportation').html('input directions'); $('#transportation').focus();">add meeting instructions</a>]</div>

											<%end%>

									</div>

									<div style="clear:both"></div>

								</div>






										<div style="clear:both; "></div>
										<div style="border-top:1px dotted #DEDFE5; margin-top:30px;">&nbsp;</div>



								<div style="margin-top:10px;">

	<div class="DarkBlueLabel" style="padding-top:0px; padding-bottom:8px;">Comments</div>



									<textarea id="TempPassword" type="textfield"    <%if current_user%>onKeyPress="return submitPostOnEnter(this,<%=@plan.id%>)"<%end%> class="resize ShadowedTextBox" style="float:left; height:20px; line-height:20px;  color:#ccc;margin-top:10px; width:389px; " onfocus="if ($(this).val()=='comment') { $(this).val(''); $(this).css('color','#666')}" onblur="if ($(this).val()=='') {$(this).val('comment');  $(this).css('color','#ccc')}">comment</textarea>

									<div  class="WhiteActiveBorder"  >
										<div unselectable="on" class="LightGrayButton" style="width:60px; margin-left:3px; float:left;height:34px; margin-top:9px; line-height:34px; font-size:12px " onclick="<%if current_user%>postComment(this,<%=@plan.id%>)<%else%>openRegister('Sign up for <%=APP_NAME%> to comment')<%end%>">
											<div class="InnerLightGrayBorder"style="height:32px;" >
												Post
											</div>
										</div>
									</div>

									<div style="clear:both; height:10px;"></div>

									<div id="CommentsArea<%=@plan.id%>" style="padding-top:6px">
										<%=render :partial=>"comments/comment_display", :locals=>{:plan=>@plan}%>
									</div>

									</div>

							</div>

							<div style="clear:both; height:40px;"></div>


				
	     	</div>
		

</div>

<%if @plan.id==15%>
<div style="margin-left:auto; margin-right:auto; <%if @user_agent.mobile?%>width:940px;<%else%>width:960px; background:rgba(0,51,255,.03); padding:20px; border:1px dotted #E8E8E8<%end%>">
	<h2 class="HighlightedTitle" style="margin-top:0px">FAQ</h2>

	<div style="float:left; width:45%; font-size:15px; line-height:20px;">


		<h2 class="FaqTitle" style="margin-top:0px;">Why are you doing this?</h2>
		<p class="FaqAnswer">Because we all thought it was a kick-ass idea!  We believe magic happens when smart people are stranded in an exotic getaway. We hope life-long friendships (and a few companies) will form.</p>

		<h2 class="FaqTitle">How luxurious is this? What's included?</h2>
		<p class="FaqAnswer">You can count on some sort of bed (or sofa), food prepared by our private chef, daily maid service, and wifi.  Otherwise, this ain't the Ritz. If there's a problem, we hope you can fix it yourself.</p>

		<h2 class="FaqTitle">Who gets the Master Bedroom? Who gets the couch?</h2>
		<p class="FaqAnswer">Air mattresses, couches, and futons are available for $595.  <br>King and queen size beds for $895.</p>

		<h2 class="FaqTitle">What kind of people will attend?</h2>
		<p class="FaqAnswer">Those with the startup spirit who "get stuff done" and JFDI.  Developers, designers, engineers, & biz guys are all welcome.</p>
		
		<h2 class="FaqTitle">Am I welcome if I don't have a start-up idea?</h2>
		<p class="FaqAnswer">Yes!  As long as you spend your time helping other start-ups.</p>
		

	</div>

	<div style="float:right; width:45%; font-size:15px; line-height:20px;">


		<h2 class="FaqTitle" style="margin-top:0px;">How much 'official programming' is there?</h2>
		<p class="FaqAnswer">We're keeping it light. Every day, we have a group dinner, followed by a round table discussion on a challenge one of us is facing. We also have a few adventures & expeditions planned.</p>
		
		
		<h2 class="FaqTitle">How does mentorship work?</h2>
		<p class="FaqAnswer">We're a strong believer in peer mentorship - everyone who attends is working on a project, and we all help each other.  Also, off-site mentors are available via Skype.<p>
			
		<h2 class="FaqTitle">What is the balance between work and play?</h2>
		<p class="FaqAnswer">We're all adults - it's up to you.  But we're targeting 8 hours of solid work per day.  Along with 3 hours of mandatory fun.</p>





		<h2 class="FaqTitle">Are you guys making money? Do you want our equity?</h2>
		<p class="FaqAnswer">No on both counts!  We're probably losing money.  <br>Free to <a href="mailto:nick@tommarello.net?subject=Startup Workaway Sponsorship">sponsor us</a>!</p>




	</div>

	<div style="clear:both"></div>
	

	
</div>




<%end%>


<%if @plan.id==17%>
<div style="margin-left:auto; margin-right:auto; <%if @user_agent.mobile?%>width:940px;<%else%>width:960px; background:rgba(0,51,255,.03); padding:20px; border:1px dotted #E8E8E8<%end%>">
	<h2 class="HighlightedTitle" style="margin-top:0px">FAQ</h2>

	<div style="float:left; width:45%; font-size:15px; line-height:20px;">


		<h2 class="FaqTitle" style="margin-top:0px;">What am I getting myself into?</h2>
		<p class="FaqAnswer">By applying for Connector Campfire, you are also applying to be a Connector for the 2011 Mass TLC unConference. Connector Campfire is a 3-day trip for all of the unConference Connectors so that they can orient themselves in preparation to lead together.</p>

		<h2 class="FaqTitle">What can I expect on the trip?</h2>
		<p class="FaqAnswer">All outdoor skill and experience levels are welcome on Connector Campfire.  We will be canoeing on lakes and hiking through mountains, and camping out at night.  We will cook our own meals (they’ll be good, we promise) together, and will do all the awesome things that come along with backpacking through the wilderness (sorry, no showers).</p>
		
		<h2 class="FaqTitle">How much does Connector Campfire cost?</h2>
		<p class="FaqAnswer">Thanks to our generous sponsors, Connector Campfire is free to all participants.  </p>
		

	</div>

	<div style="float:right; width:45%; font-size:15px; line-height:20px;">


		<h2 class="FaqTitle" style="margin-top:0px;">What’s involved with being a connector?</h2>
		<p class="FaqAnswer">Being a connector will include getting in touch with experts who will be attending the conference, as well as investors and entrepreneurs.  You will also help plan events leading up to the unConference to help people connect with each other as the event approaches.</p>
		
		
		<h2 class="FaqTitle">Can I be a connector if I can’t go on Connector Campfire?</h2>
		<p class="FaqAnswer">No.  We are requiring that all Connectors be able to go on this trip, as a way of bringing them together to work effectively as a group.  Just think – you wouldn’t want to be the one person that shows up on day one after 13 other people just got back from a 3-day trip together.<p>
			


	</div>

	<div style="clear:both"></div>
</div>




<%end%>






<%if @plan.application_required%>
<div id="ApplicationLayer" style="margin-left:auto; margin-right:auto; <%if @user_agent.mobile?%>width:940px;<%else%>width:960px; background:rgba(0,51,255,.03); padding:20px; border:1px dotted #E8E8E8<%end%>">
	
	<div style="float:left">
		<h2 class="HighlightedTitle" style="margin-top:0px"><%=@plan.title%> Application</h2>
	</div>
	<div class="HighlightedTitle" style="float:right; font-size:15px">
		Deadline: <%=@plan.application_deadline.to_date.strftime('%B').titlecase()%> <%=@plan.application_deadline.to_date.strftime('%e').strip()%>, <%=@plan.application_deadline.to_date.strftime('%Y')%>
	</div>
	<div style="clear:both"></div>
	<div style="border-top:1px dotted #DEDFE5; margin-top:0px;">&nbsp;</div>
	
		<script>defaultVals = '';</script>
		<%if current_user%>
			<script>defaultVals = 'field8=<%=current_user.first_name%> <%=current_user.last_name%>&field30=<%=current_user.email%>&field24=<%=current_user.username%>'</script>
			<%=raw @plan.application_wufoo%>
		<%else%>
			<div STYLE="width:700px; margin-left:auto; margin-right:auto; margin-top:15px;">
				<%= render :partial=>"layouts/register_form", :locals=>{:title=>"Sign up for #{APP_NAME} to Apply!", :font_size=>"20"}%>
			</div>
		<%end%>
	</div>
<%end%>


<%if params[:confirm]%>
	<script>
		showConfirmMessage();
	</script>
<%end%>

<%= render :partial=>"plans/wepayjs", :locals=>{:plan=>@plan}%>


