<%#called from source web/live_search and web/search%>


<%@live=true%>
<%if source == "search"%>
    <%@live=false%>
	<%iconsize = 50%>
	<%width=500%>
<%else%>
	<%iconsize = 30%>
	<%width=146%>
<%end%>


<%@results.each_with_index do |result,index|%>
	
	<%if index < 6 || source == "search"%>
		<div style="padding-top:5px; padding-bottom:5px;" >
			<%if result.achievement%>
				<div style="float:left;">
					
					<%=link_to(result.achievement) do
					 image_tag(result.achievement.photo(:thumb_50), :style => "border:0px; width:#{iconsize}px; height:#{iconsize}px;", :class => "AchievementIcon")
				end%>
				</div>
			<%end%>
			<div id="SearchRow<%=index%>"  class="searchRows" style="float:left; padding:2px; width:<%=width%>px; margin-left:10px; min-height:40px; <%if source == "search"%>margin-top:10px<%end%>;  <%if @live and index==0%>background-color:#eee<%end%>">
				<%newtitle = raw result.title%>
				<%=link_to newtitle, result, :class=>"BlueLink"  %>
				<%if source == "search"%>
				<div><%= raw strip_line_breaks(result.excerpts.details) %></div>
					<div style="font-size:10px; color:#999"><%= (result.sphinx_attributes['@geodist'].to_f / 1609.344).round(1) %> miles</div>
				<%end%>
			</div>
			<div style="clear:both"></div>
		</div>
	<%end%>
	
	<%if source == "live_search"%>
		<%if index == 6%> 
	
			<div id="SearchRow6" class="searchRows" style="height:30px; line-height:30px; padding-left:5px; cursor:pointer"><a href="<%=search_path%>?search_text=<%=@search_text%>" class="BlueLink"> More Results</a></div>
	
		<%end%>
	<%end%>

<%end%>

<%if @results.length == 0%>No Results<%end%>
	
<script>
currentSearchIndex = 0;
maxSearchIndex=<%=@results.length%>;
</script>