<%if @page == 1%>
	<%@title = @plan.challenge.title%>
<%else%>
	<%@title = @challenge.title%>
<%end%>

<div class="CardBox">
	<div id="DisplayImagewithShadow" style="border:1px solid #ccc; width:650px; height:400px; background:#F8F8F8; float:left">
		
		<div id="Spinner" style="position:absolute; margin-left:309px; margin-top:184px ">
			<img src="/images/ajax-pic-load.gif" style="width:32px; height:32px">
		</div>
		
		<div id="OpacityFader">
				<div id="ImageLabel" class="LabelBox" style="opacity:0">
					<div style="float:left">
						<div style="font-size:14px; font-weight:bold; opacity:0">Challenge <span id="CurrentCount1"><%=@page%></span> of <span ><%=@challenge_count%></span></div>
						<div id="CurrentLabel1" style="padding-top:5px; opacity:0"><%=raw @title%></div>
					</div>
					<div style="opacity:0" class="BlackBoxArrow" >
				
					</div>
				</div>
				<div id="ImageLabelText" onclick="$('#TheLink').click()" style="position:absolute; z-index:10;opacity:0; color:#fff; margin-left:10px; margin-top:10px; cursor:pointer; padding:10px; border:1px solid transparent" onmouseover="$('#ImageLabel').stop();$('#ImageLabel').css('opacity',.9); $('.BlackBoxArrow').css('background-position','0px -26px')" onmouseout="$('.BlackBoxArrow').css('background-position','0px 0px')" onmousedown="$('.BlackBoxArrow').css('background-position','0px -52px')">
					<div style="float:left">
						<div style="font-size:14px; font-weight:bold">
					
							Challenge <span id="CurrentCount2"><%=@page%></span> of <span id="ChallengeCountTitle2"><%=@challenge_count%></span></div>
				
						<div id="CurrentLabel2" style="padding-top:5px; cursor:pointer"><%=raw @title%></div>
					</div>
					<div class="BlackBoxArrow" >
				
					</div>
				</div>
			
			<img id="BehindImage" style="position:absolute;width:650px; height:400px;opacity:0; " src="<%if @rerender=="1"%><%=@challenge_hidden.photo.url(:thumb_650)%><%end%>" >	
		<img id="MainImage" style="position:absolute;width:650px; width:650px; height:400px; opacity:0;" src="<%if @rerender=="1"%><%=@plan.challenge.photo.url(:thumb_650)%><%end%>" >
		
		
		
		<div id="MainImageShadow" style="position:absolute;  cursor:pointer; width:650px; opacity:0; height:400px" class="shadow" onmouseOVER="animateLabel(1);$('.BlackBoxArrow').css('background-position','0px -26px')" onmouseout="animateLabel(0);$('.BlackBoxArrow').css('background-position','0px 0px')" onclick="$('#TheLink').click()">	
			<div style="float:right;width:23px;height:23px; margin-top:-1px; margin-right:-1px; background:url(/images/pictureTile.gif);"><img   src="/images/page_curl.png"></div>
			<div style="clear:both"></div>
			
			
		</div>	
	</div>


		
	</div>
	
	<div style="float:left; margin-left:20px; width:205px; ">
		<div id = "RenderChallengeDesc">
			<div id="CurrentInfo">
				<%if @page == 1%>
					<%=render :partial=>"web/spotlight_plan"%>
				<%else%>
					<%=render :partial=>"web/spotlight_challenge", :locals=>{:challenge=>@challenge}%>
				<%end%>
			</div>
		</div>
		
		

		

		
		
		<div id="RightArrow"  style="position:absolute; top:360px; width:195px;"  >

			<div style="float:right">
			<div id="backButton" <%if @page == 1%>style="opacity:.3; "<%end%> class="PrevPicArrow" onclick="advanceChallenge(-1)"></div>	
					
			<div class="NextPicArrow" onclick="advanceChallenge(1)">Next Challenge</div>	
			</div>
			<div style="clear:both"></div>

			
			
		</div>
		
			<div  style="position:absolute; top:398px; width:195px; text-align:right"  >
				- or - <a class="BlueLink" href="/challenges">browse all challenges</a>&nbsp;
			</div>
	
	</div>
	
	
	<div id="ThePlan" style="display:none"><%=render :partial=>"web/spotlight_plan"%></div>
	
	<div style="clear:both"></div>
	

	
</div>


