	<div class="PlanOfWeek" style="">Featured Plan of the Week</div>

	
	
			<div class="DarkBlueLabel" style="font-weight:bold; font-size:14px;  line-height:18px; "><%=raw @plan.title%></div>
			
		
			

	

			<div class="NextLabelHolder" style="display:none"><%=raw @plan.challenge.title%></div>
			<img class="NextImage" style="display:none" src="<%=@plan.challenge.photo.url(:thumb_650)%>">

<div style="margin-top:12px;"></div>

	
				<div class="DateCircle_Small">		<%=@plan.start_time.to_date.strftime('%b').upcase()%><br><%=@plan.start_time.to_date.strftime('%e').strip()%>
				</div>
			
	
			<div class="DarkBlueLabel" style="float:left; margin-left:20px; width:120px;  ">
							<div style="background:url(/images/3Lines.png) repeat; margin-top:5px;  padding-top:0px;  padding-bottom:5px; line-height:21px;">
					<%@timestring = calc_end_plan_time(@plan.start_time,@plan.end_time)%>
					<%=@timestring%>
					</div>
					
				<div style="background:url(/images/3Lines.png) repeat; margin-top:3px; font-size:11px; padding-top:0px;  padding-bottom:5px; line-height:21px;"><%=raw @plan.challenge.location%></div>
			</div>
			<div style="clear:both"></div>

<div style="margin-left:-20px; height:115px; width:238px; margin-top:10px; background:url(/images/plan_attendees.png)">
	<%@count = @attendees.length.to_i + 1%>
	<div style="padding-top:14px; margin-left:20px; font-weight:bold; color:#21547E; font-size:12px;text-shadow:0 2px 0 rgba(255,255,255,0.75); "><%=@count%> Sign-ups</div>
	
		<div style="margin-top:18px; margin-left:20px;">
			
			
			<a href="/<%=@plan.user.username%>">
				<%= image_tag(@plan.user.avatar.url(:thumb_40), :class=>"Transparent", :style=>"width:40px; height:40px; border:1px solid #E1E1E1; cursor:pointer") %>
			</a>

			<%@i = 0%>
			<%for person in @attendees%>
				<%@i = @i+1%>
				<%if @i < 4%>
					<a href="/<%=person.username%>">
					<%= image_tag(person.avatar.url(:thumb_40), :class=>"Transparent", :style=>"width:40px; height:40px; border:1px solid #E1E1E1; cursor:pointer") %>
					</a>
				<%end%>
			<%end%>
			
			<%if @attendees.length > 2 %>
			<a href="/challenges/<%=@plan.challenge.id%>-<%=@plan.challenge.title.parameterize%>">
				<img class="Transparent" style="float:right; margin-top:13px; margin-right:20px; width:10px; height:16px; border:0px solid #ccc" src="/images/Indicator.png">
			</a>
			<%end%>
			
		</div>
		
		
			
	
</div>
<div id="TheLink" onclick="window.location.href = '<%= plan_path(@plan) %>'" style="display:none"  ></div>


<div class="DarkBlueLabel" style="float:left; font-size:18px; margin-top:8px; line-height:20px; width:80px">
	<span style="font-size:13px">Price:</span><br>
	<%if @plan.price and @plan.price > 0%>
		$<%=@plan.price%>
	<%else%>
		Free 
	<%end%>
</div>

<div id="mInfo" class="MoreInfoSpotlight" unselectable="on" onclick="$(this).html('<img style=\'margin-top:4px;\' src=\'/images/ajax-loader_f.gif\'>'); $('#TheLink').click()" style="margin-left:83px">
	<div class="InnerLoginBorder">
		Learn More
	</div>
</div>






<div class="ChallengeBottom3" style="border:1px solid #ccc; margin-left:3px; display:none" >
	<%#@saved=false%>
	<%#if @bucket_ids%>
		<%#if @bucket_ids.include?(@plan.challenge.id)%>
	  		<%#@saved=true%>
		<%#end%>
	<%#end%>
	<%#@done=false%>
	<%#if @done_ids%>
		<%#if @done_ids.include?(@plan.challenge.id)%>
	  		<%#@done=true%>
		<%#end%>
	<%#end%>
	
   <%#render :partial=>"challenges/rating", :locals=>{:challenge=>@plan.challenge, :source=>"spotlight"}%>
</div>
