
<img class="NextImage" style="display:none" src="<%=challenge.photo.url(:thumb_650)%>">



<%@completed  = SubscribedChallenge.find(:all, :conditions=>"challenge_id=#{challenge.id} and completed=1 and proof_file_name !=''", :include=>[:user, :challenge, {:likes => :user}], :limit=>2)%>
<%@bucket  = SubscribedChallenge.find(:all, :conditions=>"challenge_id=#{challenge.id} and completed=0 and users.avatar_file_name !=''", :include=>[:user, :challenge, {:likes => :user}])%>
<%=@style=""%>
<%if @completed.length == 0 and  @bucket.length > 0%>
	<%@style="height:137px"%>
<%end%>
<%if @completed.length > 0 and  @bucket.length == 0%>
	<%@style="height:164px"%>
<%end%>
<%if @completed.length == 0 and  @bucket.length == 0%>
	<%@style="height:286px"%>
<%end%>




<div class="NextLabelHolder DarkBlueLabel" style="font-weight:bold; font-size:14px;  line-height:18px; "><%=raw challenge.title%></div>
<div class="DarkBlueLabel ClippedDescription ChallengeClip auto multiline" style="<%=@style%>"><%=raw challenge.details%></div>

<%@i=0%>
<%for completed in @completed%>

  <div class="Transparent PicHolder" style="margin-top:10px; float:left; margin-left:<%if @i==1%>10<%else%>4<%end%>px;">
		<a class="lightbox" title="<%=completed.user.first_name%> stomped this! <br> <%= raw completed.completed_note%>" href="<%=completed.proof.url(:large)%>" >
	<%= image_tag completed.proof.url(:thumb_180), :style=>"width:82px; height:63px;" %>
	</a>
  </div>
<%@i=@i+1%>
<%end%>

<div style="clear:both"></div>

<%if @bucket.length > 0%>

	<div style="margin-left:-20px; height:115px; width:238px; margin-top:14px; background:url(/images/plan_attendees.png)">
	
		<div style="padding-top:14px; margin-left:20px; font-weight:bold; color:#21547E; font-size:12px;text-shadow:0 2px 0 rgba(255,255,255,0.75); ">Saved to Bucket List</div>
	
			<div style="margin-top:18px; margin-left:20px;">
			
				<%@count = @bucket.length - 4%>
				<%@i=0%>
				<%for person in @bucket%>
					<%if @i < 4%>
						<a href="/<%=person.user.username%>">
						<%= image_tag(person.user.avatar.url(:thumb_40), :class=>"tip Transparent", :style=>"width:40px; height:40px; border:1px solid #E1E1E1; cursor:pointer",:title=>person.user.first_name) %>
						</a>
					<%end%>
					<%@i=@i+1%>
				<%end%>
				<%if @count > 0%>
				<div style="float:right;width:30px; margin-right:5px; margin-top:14px;font-size:12px;">+ <%=@count%></div>
				<%end%>
			
			</div>
	
	</div>
<%end%>



<div style="position:absolute; top:312px">

	<div id="mInfo" class="MoreInfoSpotlight" style="margin-top:8px" unselectable="on" onclick="$(this).html('<img style=\'margin-top:4px;\' src=\'/images/ajax-loader_f.gif\'>'); $('#TheLink').click()" >
		<div class="InnerLoginBorder">
			Learn More
		</div>
	</div>
	
		<div id="TheLink" onclick="window.location.href = '/challenges/<%=challenge.id%>-<%=challenge.title.parameterize%>'" style="display:none"  >
		</div>


		

	<div class="ChallengeBottom3" style="border:1px solid #ccc; margin-left:3px; display:none" >
		<%#@saved=false%>
		<%#if @bucket_ids%>
			<%#if @bucket_ids.include?(@plan.challenge.id)%>
		  		<%#@saved=true%>
			<%#end%>
		<%#end%>
		<%#@done=false%>
		<%#if @done_ids%>
			<%#if @done_ids.include?(@plan.challenge.id)%>
		  		<%#@done=true%>
			<%#end%>
		<%#end%>

	   <%#render :partial=>"challenges/rating", :locals=>{:challenge=>@plan.challenge, :source=>"spotlight"}%>
	</div>
</div>




