
<div style="width:650px; font-size:16px; line-height:21px; float:left">
	<span class="HighlightedTitle">Part-Time Adventure Organizers: Boston, SF, & NYC</span>

	<p><%=APP_NAME%> creates kick-ass adventures that help you meet awesome people.  From a Greek Sailing Expedition, to the Boston Common Squirrel Fishing Challenge, we brainstorm up creative ways to make the world a more fun and friendly place.</p>

	<p>As an adventure organizer, your job is to make sure everyone is having an awesome time! You should have one of those extra-sparkly and bubblicious personalities - the type of person that is full of life and helps everyone they meet feel at ease.</p>
		
	<p>You should also have a good eye for detail.  You are responsible for making sure our events run smoothly.  It helps if you are mentally flexible enough to quickly solve any problems that are thrown at you, and not get too high strung about it.</p>
	
	<p>Responsibilities include:
		<ul>	
			<li>Brainstorming fun new adventures</li>
			<li>Assisting with event setup - research and confirm plans with local vendors</li>
			<li>Ensure the event runs seamlessly</li>
			<li>Most importantly, interact with customers, and do what it take to make sure everyone is having a fun time!</li>
		</ul>
	</p>

	<p>Qualifications:</p>
	<ul>
		<li>Super-extroverted personality that thrives off meeting people</li>
		<li>Flexible schedule</li>
		<li>Fun person with a sense of humor</li>
		<li>Can lead an event and quickly deal with any problems</li>
	</ul>
	
	 </p>
	
	<p>Compensation:  $15/hr to start. And you get to do some cool stuff for free!</p>

	<p>To apply, e-mail your resume to <a class="BlueLink" href="mailto:nick@<%=APP_URL%>">resumes@<%=APP_URL%></a>. Include an idea of an adventure you'd enjoy organizing and provide your Escapist username.  Mad brownie points for providing some feedback on where you'd like to see Escapist improved in the future.</p>
	
	<div class="HighlightedTitle" style="margin-top:30px;">Cofounder, Marketing & Business Development</div>
	
	<p>Yes, a co-founder is a strange role to "hire"!  But we really don't want an employee for this role - we're looking for an entrepreneurial self-starter that is so passionate about what we're doing, that they feel compelled to dive right in to be on the founding team (with a founding equity stake).</p>
	
	<p>We're looking for a generalist "business guy" that thrives in small start-up teams, where roles are not so clear cut, and multiple hats are worn.</p>
	
	<p>Here's a non-traditional application:  write your own job description and send it to <a class="BlueLink" href="mailto:nick@<%=APP_URL%>">resumes@<%=APP_URL%></a>.  Assume the technical talent and fundraising connections are in place, but that gaps could be filled practically everywhere else.</p>
	
	
</div>


<div style="float:right; display:none; font-size:26px; border:1px solid #eee; line-height:36px; width:300px;color#ccc; padding:25px; margin:25px;">"So, wait, you are essentially paying people to travel around the world and do cool shit?"</div>


