<div id="AlienEasterEgg" onclick="window.location.href='/<%=APP_CONTENT.downcase%>/73'" title="WOOT!"></div>





<div class="SpotlightBigTitle DarkBlueLabel" align="center" style="text-align:center;  ">Find Fun Things to Do
</div>



<div class="BlueLabel" style="margin-top:13px; text-align:center; font-size:18px;  ">
 	
	<span id="ChallengeCountTitle"><%=@challenge_count%></span> Challenges near <span id="City" class="SpotlightLink" onclick="openCityDrop();"><%=session[:dropdown_city]%></span> <img src="/images/locationIcon.png" onclick="openCityDrop();" style="width:9px; height:16px; margin-left:-3px; cursor:pointer" onmouseover="$('.SpotlightLink').addClass('SpotlightLinkHover').removeClass('SpotlightLink')" onmouseout="$('.SpotlightLinkHover').addClass('SpotlightLink').removeClass('SpotlightLinkHover')">
</div>

<div style="position:absolute; border:1px solid #CDCDCD; margin-top:25px; width:902px; height:428px; margin-left:25px;  margin-right:25px;" class="shadow2">
</div>

<div style="position:absolute; border:1px solid #CDCDCD; margin-top:25px; width:900px; height:425px; margin-left:25px;  margin-right:25px;" class="shadow2">
</div>

<div id="RenderContainer"   style="position:absolute; border:1px solid #CDCDCD; margin-top:25px; width:900px; height:422px; margin-left:25px;  margin-right:25px;" class="shadow2">
	<%=render :partial=>"web/refresh_container"%>
</div>
<div id="TempHiddenDiv" style="display:none"></div>
<div id="TempBackChallenge" style="display:none">
	<%if @page > 1%>
		<%=render :partial=>"web/spotlight_challenge", :locals=>{:challenge=>@challenge_back}%>
	<%end%>
</div>
<div id="TempNextInfo" style="display:none">
	<%=render :partial=>"web/spotlight_challenge", :locals=>{:challenge=>@challenge_hidden}%>
</div>

<div style="height:480px"></div>


<div style="float:left; margin-left:25px;">
	
	<div style="margin-left:10px; float:left;">
		<a target="_blank" href="http://itunes.apple.com/us/app/stomp/id413204035?mt=8">
			<img src="/images/iphone_appstore.png" class="AppIcon" style="width:122px; height:40px; border:0px">
		</a>
	</div>
	
	<div style="margin-left:20px; float:left" class="AppIcon">
		<a target="_blank" href="https://market.android.com/details?id=io.stomp.android&feature=search_result">
			<img src="/images/android_appstore.png" style="width:122px; height:40px; border:0px">
		</a>
	</div>
</div>


	
	<div style="float:left; margin-left:315px; width:325px; line-height:20px; font-size:16px; color:#757575">

		Stomp helps discover fun things you could be doing... and others who might like to join.
	</div>
	
	<div style="clear:both"></div>


	<div class="DivLine" style="margin-top:20px; margin-bottom:10px;">
		<div class="DivLeft"></div>
		<div class="DivRight"></div>	
	</div>

<div style="float:left; margin-left:25px; ">
	<div class="BlueLabel" style="font-size:18px;line-height:22px">Most Stomped</div>
	<div style="margin-top:3px;font-size:14px; color:#757575">Popular challenges by category</div>
</div>


<div style="clear:both"></div>



	<div id="RenderedContent" style="margin-top:20px">
		<%=render :partial => "web/featured"%>
	</div>
	
	<div style="clear:both"></div>
	
	
	<div  style="float:right; margin-right:30px; margin-top:-10px" class="WhiteActiveBorder" >
		<a href="/challenges">
		<div unselectable="on" class="LightGrayGreenButton" style="width:180px; color:#44B24A  " >
			<div class="InnerLightGrayGreenBorder" onclick="$(this).html('<img style=\'margin-top:3px;\' src=\'/images/ajax-loader_f.gif\'>');" >
				
				<div style="position:absolute; margin-top:4px; margin-left:8px;"><img src="/images/all-adventures.png" style="width:17px; height:17px; "></div>
								 <div style="position:absolute; margin-left:163px; margin-top:4px"><img style="" src="/images/Indicator.png"></div>
				<div style="margin-left:6px">View all Challenges</div>

			</div>
		</div>
		</a>
	</div>
	

	<div style="clear:both"></div>


<div class="DivLine" style="margin-top:20px">
	<div class="DivLeft"></div>
	<div class="DivRight"></div>	
</div>


<div style="width:575px; float:left; margin-right:60px; margin-top:20px">
	<div class="BlueLabel" style="font-size:18px; line-height:22px;">Top 10 Stompers</div>
	<div class="SubTitle" style=" margin-bottom:10px;margin-top:3px;">Earn bragging rights. Maybe you'll earn some swag.</div>
	
	 
	<div style="float:left; width:250px; margin-top:10px;">
		<div style="border-bottom:1px solid #eee; margin-bottom:3px"></div>

		<%@leaders.each_with_index do |user,index|%>
		<div style="padding-top:5px; padding-bottom:0px; border-bottom:1px solid #eee;">
			<div style="float:left; width:20px; color:#777;text-align:center"><%=index+1%></div>
			<div style="float:left; width:50px">
					 <%= link_to(user_path(user)) do
			  			image_tag user.avatar.url(:thumb_50), :class=>"Transparent", :style=>"width:41px; height:41px; border:1px solid #E1E1E1; cursor:pointer"
					end %>
			</div>
			<div style="float:left; margin-left:10px; width:120px; margin-top:4px;">
			
				<a class="BlueLink" href="/<%=user.username%>"><%=user.first_name%> <%=user.last_name%></a>
						
						
							<div style="margin-top:3px; font-size:11px"><%#user.location_city%></div>
			</div>
			<div style="float:left; margin-left:10px; text-align:right; margin-top:10px; width:30px; font-size:16px; font-weight:bold; color:#5691C4" class="HighlightedTitle">
					<%=user.score%><span style="font-size:11px; font-weight:normal">pts</span>
			</div>
	
			<div style="clear:both; "></div>
			</div>
			
			<%if index == 4%>
				</div>
				
				<div style="float:left; width:250px; margin-left:60px; margin-top:10px">
					<div style="border-bottom:1px solid #eee; margin-bottom:3px"></div>
			<%end%>
			
			
		<%end%>
	</div>
	
	<div style="clear:both"></div>
	
	<div  style="float:right; margin-right:20px; margin-top:20px" class="WhiteActiveBorder" >
		<a href="/rewards">
		<div unselectable="on" class="LightGrayGreenButton" style="width:180px; color:#44B24A  " >
			<div class="InnerLightGrayGreenBorder" onclick="$(this).html('<img style=\'margin-top:3px;\' src=\'/images/ajax-loader_f.gif\'>');" >
								<div style="position:absolute; margin-top:4px; margin-left:8px;"><img src="/images/leaders.png" style="width:17px; height:17px; "></div>
								 <div style="position:absolute; margin-left:163px; margin-top:4px"><img style="" src="/images/Indicator.png"></div>
				<div style="margin-left:5px">Leaders & Rewards</div>

			</div>
		</div>
		</a>
	</div>
	
	
	
</div>









<script>

currentChallenge = <%=@page%>;

<%if @page == 1%>
	<%@url = @plan.challenge.photo.url(:thumb_650)%>
<%else%>
	<%@url = @challenge.photo.url(:thumb_650)%>
<%end%>




$("#MainImage").one('load', function(){ imageLoaded(); })
         .attr("src", '<%=@url%>')
         .each(function() {
           if (this.complete) $(this).trigger("load");
         });


function imageLoaded() {

	$('#Spinner').hide();
//	$('#MainImage').css("opacity",1);
	$('#MainImage').animate({opacity: 1}, 500); 
	$('#MainImageShadow').animate({opacity: 1}, 500); 
	
	setTimeout("$('#ImageLabelText').css('opacity',1)",500);
	setTimeout("$('#ImageLabel').animate({opacity: .7}, 500)",500);
	setTimeout("$('#ImageLabel').animate({opacity: .6}, 1000)",4000);
}




$(".auto").ellipsis();

reEnableToolTips();
$('.AchievementIcon').tooltip();

$("#AlienEasterEgg").tooltip()





$('a.lightbox').lightBox({imageLoading: '/images/loading.gif',
	imageBtnClose: '/images/close.gif',
	imageBtnPrev: '/images/prev.gif',
	imageBtnNext: '/images/next.gif'}); 
	
	


</script>





