<div id="AlienEasterEgg" onclick="window.location.href='/<%=APP_CONTENT.downcase%>/73'" title="WOOT!"></div>


<script>
	setTimeout("switchMenuBar($('#SpotlightLink'),1);",10);
</script>


<div class="SpotlightBigTitle" align="center" style="text-align:center; ">
	<span id="ChallengeCountTitle"><%=@challenge_count%></span> <%=APP_CONTENT%> near <span id="City" class="SpotlightLink" onclick="openCityDrop();"><%=session[:dropdown_city]%></span> <img src="/images/spot_drop_triangle.png" onclick="openCityDrop();" style="width:15px; height:13px; cursor:pointer" onmouseover="$('.SpotlightLink').addClass('SpotlightLinkHover').removeClass('SpotlightLink')" onmouseout="$('.SpotlightLinkHover').addClass('SpotlightLink').removeClass('SpotlightLinkHover')">
</div>

<div id="CityDrop">
	<div class="SpotlightBigLink" onclick="chooseCity(this,1)" style="padding:10px">Boston</div>
	<div class="SpotlightBigLink" onclick="chooseCity(this,3)" style="padding:10px">New York City</div>
	<div class="SpotlightBigLink" onclick="chooseCity(this,2)" style="padding:10px">San Francisco</div>
	<div class="SpotlightBigLink" onclick="chooseCity(this,99)" style="padding:10px">Earth</div>
</div>

<div style="margin-top:13px; text-align:center; font-size:16px; text-shadow:#FFFFFF 1px -1px 1px;">Try new things; live life boldly. Before you die.</div>


<div style="padding-left:7px; padding-top:60px">
	<div style="position:absolute; margin-top:-20px">
	
		<div class="SpotCategory2" onclick="chooseCategorySpot('sports');">&nbsp;&nbsp;Sports & Action <span class="BlueLink">&#187;</span>&nbsp;</div>

	

		<div class="SpotCategory2" onclick="chooseCategorySpot('fun');">&nbsp;&nbsp;Fun & Wacky <span class="BlueLink">&#187;</span>&nbsp;</div>

	

		<div class="SpotCategory2" onclick="chooseCategorySpot('outdoor');">&nbsp;&nbsp;Nature & Fluffy Animals <span class="BlueLink">&#187;</span>&nbsp;</div>

	
	
		<div  class="SpotCategory2" onclick="chooseCategorySpot('food');">&nbsp;&nbsp;Food & Culture <span class="BlueLink">&#187;</span>&nbsp;</div>
	</div>
	
	<div id="RenderedContent">
		<%=render :partial => "web/featured"%>
	</div>
	<div style="clear:both;"></div>

	
	
	<div id="RightBox" style="float:right; width:440px;">
		
		
				<div class="SpotQuote">Inside every old person is a younger person wondering WTF happened - <span style="font-size:12px">Confucius</span></div>
				
		<div id="CallToActionButton" onclick="window.location.href='/<%=APP_CONTENT.downcase%>'">View <%=APP_CONTENT%><img style="width:9px; height:13px; margin-left:5px;" src="/images/tmp/t.png"></div>
		<div style="float:right; margin-top:2px; width:300px; text-align:right; margin-right:50px;"><a class="BlueLink"  href="/adventures/new">or create one</a></div>
		
		
	</div>
	
	<div class="SpotlightLeftBox">
		<div class="SpotlightLeftBoxPic"><img src="/images/spot_1.png" style="width:180px; height:132px;"></div>
		
		<div style="float:left; width:185px; padding-top:10px;"><img style="float:left; padding-right:10px;width:19px; height:19px" src="/images/one.png">
			<div class="SpotlightLeftBoxText">Add adventures to your Bucket List</div>
			
			<div style="margin-top:10px;">Save your favorites.  See other people with similar interests.</div>
			<div><img src="/images/downarrow.png" class="downarrow" onclick="$(this).animate({opacity:0},500); $.scrollTo( $('#scrollto'), 500 )"></div>
			
			
			
		</div>
	</div>
	
	<script>
		if (screen.height < 900) {
			$('.SpotlightLeftBox').css('margin-top','-5px')
			$('#RightBox').css('margin-top','-35px')
		}
	</script>
	
	
	<div style="clear:both"></div>
	<div id="scrollto" class="SpotlightLeftBox" style="margin-top:50px">
		<div class="SpotlightLeftBoxPic"><img src="/images/spot_2.png" style="width:180px; height:132px;"></div>
		
		<div style="float:left; width:185px; padding-top:10px;"><img style="float:left; padding-right:10px;width:19px; height:19px" src="/images/two.png">
			<div class="SpotlightLeftBoxText">Share plans with friends</div>
			<div style="margin-top:10px;">Spread the love.  Invite friends to join you.</div>
		</div>
	</div>
	
	<div class="SpotlightLeftBox" style="margin-top:50px; margin-left:100px;">
		<div class="SpotlightLeftBoxPic"><img src="/images/spot_3.png" style="width:180px; height:132px;"></div>
		
		<div style="float:left; width:185px; padding-top:10px;"><img style="float:left; padding-right:10px;width:19px; height:19px" src="/images/three.png">
			<div class="SpotlightLeftBoxText">Stomp it!</div>
			<div style="margin-top:10px;">
			Upload photo or video of the adventure being "stomped".</div>
		</div>
	</div>
	
	<div class="SpotlightLeftBox" style="margin-top:50px; border:0px">
		<img src="/images/app.png" class="AppStore" onclick="alert('Sorry!  We lied!  We\'re still working on coding up the iPhone app.')">
	</div>
	
	<div class="SpotlightLeftBox" style="margin-top:50px; margin-left:100px;">
		<div class="SpotlightLeftBoxPic" style="height:120px; width:155px; padding-top:15px; padding-left:25px;">
			
			<%for a in @ach%>
			     <div style="float:left; padding:4px">
			        <%= link_to(achievement_path(a)) do
			           image_tag(a.photo(:thumb_50), :class => "AchievementIconSpot", :title => a.name)
			         end %>
			       </div>
			 <%end%>
		</div>
		
		<div style="float:left; width:185px; padding-top:10px;"><img style="float:left; padding-right:10px;width:19px; height:19px" src="/images/four.png">
			<div class="SpotlightLeftBoxText">Earn achievements and rewards</div>
			<div style="margin-top:10px;">Score some bragging rights. <br>
			Win some swag.</div>
			<div style="padding-top:10px; margin-left:70px;"><a href="/rewards" class="BlueLink">prizes & leaders</a></div>
		</div>
	</div>
	
	
	
	
	
</div>

<div id="TempHiddenDiv" style="display:none"></div>
<div style="clear:both"></div>


<script>
reEnableToolTips();
$('.AchievementIcon').tooltip();
$("#AlienEasterEgg").tooltip()
</script>

