<%numeric = false unless defined?(numeric)%>
<%allow_return = false unless defined?(allow_return)%>
<%extra_visibility = false unless defined?(extra_visibility)%>
<%onblur_hook = false unless defined?(onblur_hook)%>
<%required = false unless defined?(required)%>
<%border = false unless defined?(border)%>
<%full_editor = false unless defined?(full_editor)%>
<%append = "" unless defined?(append)%>

<%if @editable%>


<%if full_editor%>

<div id="<%=field_name%><%=append%>" class="<%if extra_visibility%>EditBox<%else%>EditBoxHide<%end%>" <%if border%>style="border:1px dotted #ccc"<%end%>>
<%=raw render_string_with_breaks(content)%>
</div>
<script>
$(document).ready(function() {
	$('#<%=field_name%><%=append%>').aloha();
});
</script>
<%else%>

	<span class="<%if extra_visibility%>EditBox<%else%>EditBoxHide<%end%>" <%if border%>style="border:1px dotted #ccc; padding-left:2px"<%end%>>
  
			<div style="display: inline"><span id="<%=field_name%><%=append%>" <%if !allow_return%>class="disallowReturn"<%end%> contenteditable="true"><%=raw render_string_with_breaks(content)%></span></div>
	
		    <%if extra_visibility%>
				<span id="ShowEdit"  onclick="$('#<%=field_name%>').focus();">
					<img  class="EditIcon" src="/images/ok_pen1.png"   >
				</span>
			<%end%>
	
	</span>

<%end%>
	<script>
	

	
	<%if content == "Required" or content == "Add a note" or content =="I'm new, so I haven't filled out my bio yet!" or content== "You Need to Insert a Title Here" or content == "Tell someone exactly how to upload proof.  What kind of photo or video?" or content == "Type in the address. Google shall find." or content == "Insert some details.  Why is this fun?  How can you do it?  Write a short paragraph."%>
		$('#<%=field_name%><%=append%>').focus(function(){ 
		   	window.setTimeout(function() {
		        var sel, range;
		        if (window.getSelection && document.createRange) {
		            range = document.createRange();
		            range.selectNodeContents(document.getElementById("<%=field_name%><%=append%>"));
		            sel = window.getSelection();
		            sel.removeAllRanges();
		            sel.addRange(range);
		        } else if (document.body.createTextRange) {
		            range = document.body.createTextRange();
		            range.moveToElementText(document.getElementById("<%=field_name%><%=append%>"));
		            range.select();
		        }
		    }, 1);
		});
	<%end%>
	
		$('#<%=field_name%><%=append%>').focus(function(){ 
			oldValue = $(this).html();
	});
	
	<%if field_name == "short_bio"%>
		$('#<%=field_name%><%=append%>').keyup(function(){  

			value = $(this).html().length;

			chars_left = 100 - value;
			if (chars_left < 100) {
				$("#BioCounter").show();
				$("#BioCounter").html(chars_left);
			} else {
				$("#BioCounter").hide();
			}

			if (chars_left < 0) {
				$(this).html($(this).html().slice(0,100))
				$("#BioCounter").html("0");
			}
			
		 });
	<%end%>
	
	$('#<%=field_name%><%=append%>').blur(function(){    

		$("#BioCounter").hide();
	   <%if required%>
			if ($(this).html() == "") {
				$(this).html("Required")
				return
			}
			if ($(this).html() == "<br/>") {
				$(this).html("Required")
				return
			}
			if ($(this).html() == "<br>") {
				$(this).html("Required")
				return
			}
		<%end%>
		
		<%if allow_return%>
			var s = new Sanitize({ 
			    elements:   ['br','ul','li','b']
			});
		<%else%>
			var s = new Sanitize();
		<%end%>
			cleanedValue = s.clean_node(this);
	
			$(this).html(cleanedValue)
	
	     var newValue = escape($(this).html()); 

	
		if (oldValue != $(this).html()) {
			displaySavingInProgress();
	
		     $.ajax({
		        type: "POST",
		        url: "/<%=model%>s/<%=id%>",
		        data: "_method=PUT&<%=model%>[<%=field_name%>]=" + escape(newValue),
		        success: function(msg){
					//animateFlashMessage();
				
					displaySaved();
				
		        }
		     });
		}
	    <%if onblur_hook%>
			<%=raw onblur_hook%>
		<%end%>
	
	//}
	 });
	
	<%if numeric%>
		$("#<%=field_name%>").numeric()
	<%end%>
	
	</script>
	
<%else%>


<%= raw  auto_link_urls(render_string_with_breaks(content.to_s), :target => '_blank', :class=>"BlueLink") %>

	
<%end%>