<%numeric = false unless defined?(numeric)%>
<%allow_return = false unless defined?(allow_return)%>
<%extra_visibility = false unless defined?(extra_visibility)%>
<%onblur_hook = false unless defined?(onblur_hook)%>
<%required = false unless defined?(required)%>
<%border = false unless defined?(border)%>
<%full_editor = false unless defined?(full_editor)%>
<%append = "" unless defined?(append)%>

<%if @editable%>


<%if full_editor%>

	<%if extra_visibility%>
	<div style="float:right;  margin-right:2px;">
		<div style="position:absolute; " id="ShowEdit"  onclick="$('#<%=field_name%>').focus();">
			<img  class="EditIcon" src="/images/ok_pen1.png"   >
		</div>
	</div>
	<%end%>

		<div  id="<%=field_name%><%=append%>" class="transparent_border <%if extra_visibility%>EditBox<%else%>EditBoxHide<%end%> <%if !allow_return%>disallowReturn<%end%>"  onmouseover="$(this).css('background','#FFFFCC')" onmouseout="if (<%=field_name%>Focused == 0) { $(this).css('background','transparent') }" contenteditable="true" <%if border%>style="border:1px dotted #ccc; padding:2px"<%end%>><%=raw render_string_with_breaks(content)%></div>




<%else%>

	<span class="<%if extra_visibility%>EditBox<%else%>EditBoxHide<%end%>" <%if border%>style="border:1px dotted #ccc; padding:2px"<%end%>>
  
			<div style="display: inline"><span id="<%=field_name%><%=append%>" <%if !allow_return%>class="disallowReturn"<%end%> contenteditable="true"><%=raw render_string_with_breaks(content)%></span></div>
	
		    <%if extra_visibility%>
				<span id="ShowEdit" style="padding-top:2px;" onclick="$('#<%=field_name%>').focus();">
					<img  class="EditIcon" src="/images/ok_pen1.png"   >
				</span>
			<%end%>
	
	</span>

<%end%>
	<script>
	<%=field_name%>Focused = 0;

	
	<%if content == "Required" or content == "Why is this fun? What can people expect?" or content =="Place, business, or landmark" or content== "Give it a cool name. Try using a verb." or content == "Type up a tweetable one-liner.  Sell it!" or content == "Type anything Google Maps can figure out" or content == "Insert some details.  Why is this fun?  How can you do it?  Write a short paragraph."%>
		$('#<%=field_name%><%=append%>').focus(function(){ 
		   	window.setTimeout(function() {
		        var sel, range;
		        if (window.getSelection && document.createRange) {
		            range = document.createRange();
		            range.selectNodeContents(document.getElementById("<%=field_name%><%=append%>"));
		            sel = window.getSelection();
		            sel.removeAllRanges();
		            sel.addRange(range);
		        } else if (document.body.createTextRange) {
		            range = document.body.createTextRange();
		            range.moveToElementText(document.getElementById("<%=field_name%><%=append%>"));
		            range.select();
		        }
		    }, 1);
		});
	<%end%>
	
		$('#<%=field_name%><%=append%>').focus(function(){ 
			oldValue = $(this).html();
			<%=field_name%>Focused = 1;
			$(this).css("background","#FFFFCC");
	});
	
	<%if field_name == "short_bio"%>
		$('#<%=field_name%><%=append%>').keyup(function(){  

			value = $(this).html().length;

			chars_left = 100 - value;
			if (chars_left < 100) {
				$(".BioCounter2").show();
				$(".BioCounter2").html(chars_left);
			} else {
				$(".BioCounter2").hide();
			}

			if (chars_left < 0) {
				$(this).html($(this).html().slice(0,100))
				$(".BioCounter2").html("0");
			}
			
		 });
	<%end%>
	
	$('#<%=field_name%><%=append%>').blur(function(){    
		$(this).css("background","transparent");
		<%=field_name%>Focused = 0;
		$("#BioCounter").hide();
	   <%if required%>
			if ($(this).html() == "") {
				$(this).html("Required")
				return
			}
			if ($(this).html() == "<br/>") {
				$(this).html("Required")
				return
			}
			if ($(this).html() == "<br>") {
				$(this).html("Required")
				return
			}
		<%end%>
		
		<%if allow_return%>
			var s = new Sanitize({ 
			    elements:   ['br','ul','li','b','div','a'],
				attributes: { 
				        a: ['href', 'target'], 
				        div: ['class'] 
				    },
					protocols:  { 
					        a: { href: ['http', 'https', 'mailto'] }
					    }
			});
		<%else%>
			var s = new Sanitize();
		<%end%>
			cleanedValue = s.clean_node(this);
	
			$(this).html(cleanedValue)
	
	     var newValue = escape($(this).html()); 

	
		if (oldValue != $(this).html()) {
			displaySavingInProgress();
	
		     $.ajax({
		        type: "POST",
		        url: "/<%=model%>s/<%=id%>",
		        data: "_method=PUT&<%=model%>[<%=field_name%>]=" + escape(newValue),
		        success: function(msg){
					//animateFlashMessage();
				
					displaySaved();
				
		        }
		     });
		}
	    <%if onblur_hook%>
			<%=raw onblur_hook%>
		<%end%>
	
	//}
	 });
	
	<%if numeric%>
		$("#<%=field_name%>").numeric()
	<%end%>
	
	</script>
	
<%else%>

<div class="transparent_border" >
<%= raw  auto_link_urls(render_string_with_breaks(content.to_s), :target => '_blank', :class=>"BlueLink") %>
</div>
	
<%end%>