<% if user_signed_in? %>

	<%@name = "#{current_user.first_name} #{current_user.last_name}"%>
	
	<%if @name.length > 17%>
		<%@name = truncate("#{current_user.first_name}", :length => 18)%>
	<%else%>
		<%@name = truncate("#{current_user.first_name} #{current_user.last_name}", :length => 18)%>
	<%end%>
	

	
	<div id="UserLinkMenu"  onmousedown="toggleUserMenu(this);" onmouseover=" userMenuMouseOver()" onmouseout="userMenuMouseOut()">
		<span id="Profileink" style="float:left" class="UserLink"  >  <%=@name%></span>
		<div id="UserMenuArrow" class="WhiteTriangle"></div>
	</div>
		
	<div class="AvatarShadow">
		<a href="/<%=current_user.username%>">
		<%= image_tag current_user.avatar.url(:rounded_50), :class=>"Transparent UserLinkAvatar" %>
		</a>
	</div>
		

	<div class="TopIcon" onclick="window.location.href='/inbox'" title="Inbox">
		
		<div class="Envelope<% if current_user.unread_messages.length > 0%>_Closed<%end%>"></div>
	
	<% if current_user.unread_messages.length > 0%>
		<div style="margin-top:0px">
			<span id="InboxCount">
				<span id="top_unread_count1" class="highlightedBold"><%=current_user.unread_messages.length%></span>
			</span> 
		</div>
		<%end%>
	</div>

	
	<div class="TopDivider" style="float:right; margin-right:20px;"> </div>
	


	
<%else%>


	
	
	



		<div id="SignUp2" unselectable="on" class="GreenButton2">
			Sign up
		</div>


	
	<div id="LoginButton2" class="test" unselectable="on" onmouseover="if(logindropopen!=1) { $(this).toggleClass('LoginButtonHover'); $(this).toggleClass('test');}" onmouseout="if(logindropopen!=1) {$(this).toggleClass('LoginButtonHover'); $(this).toggleClass('test');}">
		<div >
			Log in
			<div id="LoginCircle2"></div>
			<div id="LoginCircleReverse2"></div>
		</div>
	</div>
	
	<div id="FBIcon2" onclick="fblogin()" ></div>
	
	<Script>

	$('#LoginButton2').bind('mousedown', function() {
	openLoginDrop(this); ignoreHide=1
	});



	
	
	</script>


	<div id="LoginLayer" style="top:34px" onclick="ignoreHide=1;">
		<div class="LoginBorder">
			<div style="margin-top:-18px; position:absolute; width:99px; height:5px; left:90px; background:#ECECEC; border-right:1px solid #fff"></div>
		
			<% form_for :user, :url => new_user_session_path, :html => {:id=>"LoginForm"} do |f| %>
			  <%= f.error_messages %>
			<div style="margin-left:3px; margin-top:-5px; font-size:11px;">email</div>
			<div class="whiteTextBorder">
			  <%= f.text_field :email, :class=>"ShadowedTextBox", :style=>"width:140px; ", :onKeyPress=>"return submitOnEnter(this,event,1)" %> 
			</div>
			
			<div style="margin-left:3px; margin-top:4px; font-size:11px;">password</div>
		  <div class="whiteTextBorder">
			  <%= f.password_field :password, :class=>"ShadowedTextBox", :style=>"width:140px;", :onKeyPress=>"return submitOnEnter(this,event,1)" %>
				</div>
			 	<div style=" color:BLACK; font-weight:bold">	
					<%if alert == "Invalid email or password." %>
						Invalid email/password.
						<%margin=8%>
				
					
					<%else%>
					<%margin=12%>
					<%end%>
					
					<%#flash[:LoginFailed]%>
				</div>
			
					
					
					<div id="SignIn"  class="WhiteActiveBorder" onclick="VerifyLoginForm()" style="margin-top:<%=margin%>px">
						<div unselectable="on" class="GreenButton" style="width:62px">
							<div id="signinbutton" class="InnerGreenBorder">
								Sign in
							</div>
						</div>
					</div>
					
					
					
					
				
						<div style="float:left; margin-top:20px; margin-left:10px;">
					  		<%= f.check_box :remember_me, :checked=>true %><%= f.label :remember %>
					 	</div>
					
					<div style="clear:both"></div>
					<div style="margin-top:<%=margin%>px; ">
					<a style="color:#537EA3; font-size:12px;" href="<%=new_password_path(:user)%>">Forget password?</a>
					</div>
				<% end %></div>
				
			
	</div>
<%end%>

<script>







$('#SignUp2').bind('mouseup', function() {
openRegister('Sign up for <%=APP_NAME%>!')
});



</script>



<%if alert == "Invalid email or password." %>
	<script>
		openLoginDrop($('#LoginButton'))
	</script>
<%end%>

<div style="clear:both"></div>