<!DOCTYPE html>
<html>
<head>
  <title><%=APP_NAME%> | <%= yield_for(:page_title, 'Social Adventure & Travel Network')%></title>
  <%= yield_for(:head, '')%>
  <%= raw stylesheet_link_merged :base %>
  <%= raw javascript_include_merged :preload %>
  <%= javascript_include_tag '/panda_uploader/jquery.panda-uploader-1.0.1.min.js' %>
</head>
<body onclick="checkLoginLayer();">
  <%= render 'layouts/city_selector' %>
	
	
	<div id="BlackModal" onclick="closeRegister()"></div>


	
	
	<div style="min-height:100%; ">
	
	<div class="TopBack">
		<div id="TheCenter" class="CenterPage">
			<div id="TheTab" class="TheActiveTab">	
				<div class="lc"></div>
				<div class="stretch"></div>
				<div class="rc"></div>
			</div>
			<div id="HoverTab" class="TheActiveTab" style="opacity:.2" >	
				<div class="lc"></div>
				<div class="stretch"></div>
				<div class="rc"></div>
			</div>
			
			<div id="TempLogo<%if @browser.ie? %>IE<%end%>" <%unless @browser.ie? %>onmouseover="logoHover()" onmouseout="logoUnhover()"<%else%>class="SwapLogoIE"<%end%>  onclick="window.location.href='/'"></div>
			<div id="TempLogoHover" onmouseover="logoHover()"  onmouseout="logoUnhover()" onclick="window.location.href='/'" <%if @browser.ie? %>style="display:none"<%end%>></div>
				
			<div id="MainMenu">

				<div class="whiteSearchBorder">
					
					<div class="CityChanger" onclick="openCityDrop();">
						<div class="CityChangerBorder">
							<div id="CityLabel" style="float:left"><%=session[:dropdown_city]%></div>
							<div style="float:left; margin-left:5px; margin-top:2px;"><img style="width:10px; height:13px;" src="/images/locicon.png"></div>
						</div>
					</div>
					
					<input id="live_search" value="search" onfocus="searchBox(this,1)" onblur="searchBox(this,0)"   onKeyPress="return searchKeyPress(this,event)" onkeyup="attachArrows(this,event)">	
					<div id="SearchResults"></div>	
				</div>
				<div class="SearchIcon" onclick="clickSearchIcon()" ></div>
				
				
				<script>
				$("#live_search").css("padding-left",$(".CityChanger").width()+30)
				$("#SearchResults").css("margin-left",$(".CityChanger").width()+25)
				</script>
				
				<div style="float:left; margin-left:10px">
					<a id="AdventuresLink"  <%unless @browser.ie? %>onmouseover="moveTab(this,0)" onmouseout="returnHoverBar()" onmousedown="$('#HoverTab').css('opacity',.4)"<%end%>  onclick="moveTab(this,1)"  class="MainMenuLink <%if @browser.ie? %>IEHover<%end%>" href="<%=adventures_path%>" >Browse</a>
				</div>
				<div style="float:left; margin-left:5px">
					<a id="CreateLink"  <%unless @browser.ie? %>onmouseover="moveTab(this,0)" onmouseout="returnHoverBar()" onmousedown="$('#HoverTab').css('opacity',.4)"<%end%>  onclick="moveTab(this,1)"  class="MainMenuLink <%if @browser.ie? %>IEHover<%end%>" href="/challenges/new" >Create</a>
				</div>
			</div>
			
			<div style="overflow:none">
				<%= render :partial => "layouts/usermenu" %>
			</div>
		</div>	 
	</div>
	
	<div  class="WhiteBackground"  onmouseover="returnHoverBar()" ONCLICK="closeUserMenu()">
		<div style="position:absolute; margin-top:-25px;  width:100%; height:50px; background:url(/images/tile_top.png)"></div>
		<div class="CenterPage">	
			<%unless current_user%>
				<div id="SaveNote" style="height:<%if@displayNote%>57<%else%>0<%end%>px; <%unless@displayNote%>display:none<%end%>">
					<div style="">
						<div id="bucket_count_holder" style="float:left;  <%if @count_bucket < 1%>display:none;<%end%>">
							<img class="noteicon" title="saved" src="/images/note-heart.png" style="width:16px; height:16px;"><span id="bucket_count"><%=@count_bucket%></span>
						</div>
						<div id="stomped_count_holder"  style="float:left; margin-left:20px; <%if @count_stomped < 1%>display:none;<%end%>">
							<img class="noteicon" title="stomped" src="/images/note-completed.png" style="width:18px; height:13px;"><span id="stomped_count"><%=@count_stomped%></span>
						</div>
						<div id="dislike_count_holder"  style="float:left; margin-left:20px; <%if @count_dislike < 1%>display:none;<%end%>">
							<img class="noteicon" title="disliked" src="/images/note-disliked.png" style="margin-top:5px; width:18px; height:18px;"><span id="dislike_count"><%=@count_dislike%></span>
						</div>
						<div id="created_count_holder"  style="float:left; margin-left:20px; <%if @count_created < 1%>display:none;<%end%>">
							<img class="noteicon" title="created" style="width:18px; height:18px" src="/images/note-pencil.png"><span id="created_count"><%=@count_created%></span>
						</div>
							<div style=" float:right; margin-right:40px; line-height:18px; text-align:right; padding-top:6px;">
								<div style="position:absolute"><img src="/images/note-arrow.png" style="width:19px; height:25px"></div><div style="margin-left:24px">Login or Sign up<br> to Save</div>
							</div>
					</div>	
				</div>
				<script>$(".noteicon").tooltip();</script>
			<%end%>
			
	    	<div id="flashMessage"><img src="/images/ajax-loader_f.gif">saving</div>
			<div id="OpacitySpotlight" onclick="closeCityDrop()"></div>
			<div id="RenderAchievements" style="z-index:100; margin-left:65px; margin-top:30px; position:absolute; width:770px; height:390px; background:#fff; border:1px solid #999; padding:20px; display:none">
				<div class="X" onclick="closeRegister()">x</div>
				<img style="margin-top:150px; margin-left:370px;" src="/images/ajax-loader_f.gif">
			</div>
			
			

			
			
			<%= yield%>
			<div style="clear:both"></div>
		</div>
	</div>

</div>
	
	<div id="Foot">	
		<div id="FooterCenter">
				<a class="BottomLink" href="/about">About</a> /
				<a class="BottomLink" href="/jobs">Jobs</a> /
				<a class="BottomLink" href="/tos">Terms of Use</a> /
				<a class="BottomLink" href="/privacy_policy">Privacy</a>
				<div class="quote1">Inside every old person is a younger person wondering WTF happened - Confucius</div>
		</div>	
	</div>
	
	<div id="flipthis"></div>
	<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66358181ns.gif" /></p></noscript>
	<div name="preload" style="display:none">
		<img src="/images/saveBucket_Hover.png">
		<img src="/images/saveBucket_Active.png">
	</div>
	
	<%if !current_user and params[:action] != "register"%>
		<%= render :partial => "layouts/register" %>
	<%end%>
	

</body>

<%= raw javascript_include_merged :postload %>
<script>
ruby_access_details='<%= raw Panda.signed_params('POST', '/videos.json', { :state_update_url => "http://#{APP_URL}/panda_callback?panda_video_id=$id" }).to_json%>'
</script>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>

<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">clicky.init(66358181);</script>


<script>
  FB.init({appId: '<%=FACEBOOK_APP_ID%>', status: true, cookie: true, xfbml: true});

  FB.Event.subscribe('auth.sessionChange', function(response) {
    if (response.session) {
      // A user has logged in, and a new cookie has been saved
    } else {
      // The user has logged out, and the cookie has been cleared
    }
  });

  function fblogin() {
    FB.login(function(response) {
		if(response.session)
		          {
		              window.location = '/auth/facebook';
		          }
     }, {perms:'user_about_me,user_birthday,user_location,user_hometown,user_likes,email,user_website'});
   }

	function fblogin2() {
    FB.login(function(response) {
		if(response.session)
		          {
		              window.location = '/auth/facebook';
		          }
     }, {perms:'user_about_me,user_birthday,user_location,user_hometown,user_likes,email,user_website,publish_stream,offline_access'});
   }




</script>




	
</html>
