<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="https://www.facebook.com/2008/fbml">

<head>
  	
	<%= raw include_stylesheets :base %>
  	<%= raw include_javascripts :preload %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	
	<title>
		<%if @group%>
			<%if @group.subtitle%>
				<%sanitizedTitle = sanitize @group.subtitle%>
				<%sanitizedTitle = sanitizedTitle.gsub("<div>","")%>
				<%sanitizedTitle = sanitizedTitle.gsub("/<div>","")%>
			<%else%>
				<%sanitizedTitle = 'Social Adventure Travel'%>
			<%end%>
			<%=@group.name%> | <%= yield_for(:page_title, sanitizedTitle)%>
		<%else%>
			<%=APP_NAME%> | <%= yield_for(:page_title, 'Social Adventure Travel')%>
	  	<%end%>
	</title>
	
	<%= yield_for(:head, '')%>
</head>

<body onclick="checkLoginLayer();" <%if params[:action] == "new_home"%> style="background:#35507C" <%end%>>

</body>




	
</html>
